In [114]:
# Import data from csv, data analysis & cleaning (replace missing values, drop duplicates) using
# Data Science Salaries from Kaggle .com

In [115]:
# Import .csv file into a Pandas Dataframe

import pandas as pd
import numpy as np

In [116]:
# data source = Kaggle.com (https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries?resource=download)

df_sal = pd.read_csv('ds_salaries.csv')

In [117]:
# view what the data frame looks like - columns and beginning / ending data, confirm no missing data and check data format types

df_sal.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [118]:
df_sal.tail()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [119]:
df_sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [120]:
# the index column is repeated in the first (unnamed) column, so using drop based on index to remove the duplicate column
# creating df2 to retain original format of data

df_sal2 = df_sal.drop(df_sal.columns[0], axis=1)

In [121]:
df_sal2

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [122]:
# import amended file above to replace missing values

df_sal3 = pd.read_csv('ds_salaries_missing.csv')

In [123]:
df_sal3.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020.0,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020.0,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020.0,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020.0,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020.0,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [124]:
# shows missing data in column work_year - only 591 count, should be 607 (work_year has also been changed from integer to
# float during the process of creating missing data - will be ignored as the data frame is only being used to demonstrate
# data cleaning to replace missing data)

df_sal3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           591 non-null    float64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: float64(1), int64(4), object(7)
memory usage: 57.0+ KB

In [125]:
df_sal3.isna().sum()

Unnamed: 0             0
work_year             16
experience_level       0
employment_type        0
job_title              0
salary                 0
salary_currency        0
salary_in_usd          0
employee_residence     0
remote_ratio           0
company_location       0
company_size           0
dtype: int64

In [126]:
# missing data is in the year column, for which same years are grouped together - use previous value to populate missing cells

df_sal_cleaned=df_sal3.fillna(method="ffill")

In [127]:
# rechecking, no more missing data

df_sal_cleaned.isna().sum()

Unnamed: 0            0
work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [128]:
# Import data via API, merge dataframe, iterator, dictionaries/lists) and 
# visualization using stock data for Visa vs a benchmark (S&P 500 Index ETF)

In [129]:

# data set source = https://www.alphavantage.co/documentation/ with ticker symbol V selected for VISA
# a stock for which I will compare performance against a general market benchmark (S&P 500 Index ETF)

import requests

dataV = requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=V&apikey=NLZ2TGZGULE9VS10")

In [130]:
dataV = dataV.json()

In [131]:
dataV

{'Meta Data': {'1. Information': 'Monthly Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'V',
  '3. Last Refreshed': '2022-09-13 16:00:01',
  '4. Time Zone': 'US/Eastern'},
 'Monthly Time Series': {'2022-09-13': {'1. open': '198.7200',
   '2. high': '207.1900',
   '3. low': '196.4000',
   '4. close': '199.6700',
   '5. volume': '36959229'},
  '2022-08-31': {'1. open': '208.4500',
   '2. high': '217.6100',
   '3. low': '198.6400',
   '4. close': '198.7100',
   '5. volume': '130178837'},
  '2022-07-29': {'1. open': '196.7900',
   '2. high': '218.0700',
   '3. low': '194.1400',
   '4. close': '212.1100',
   '5. volume': '118596952'},
  '2022-06-30': {'1. open': '212.0500',
   '2. high': '217.5800',
   '3. low': '185.9100',
   '4. close': '196.8900',
   '5. volume': '128123527'},
  '2022-05-31': {'1. open': '211.7700',
   '2. high': '214.8000',
   '3. low': '189.9500',
   '4. close': '212.1700',
   '5. volume': '171858850'},
  '2022-04-29': {'1. open': '223.0800',
   '2. high': '229.2400',
   '3. low': '201.1000',
   '4. close': '213.1300',
   '5. volume': '151474586'},
  '2022-03-31': {'1. open': '214.4800',
   '2. high': '228.8100',
   '3. low': '186.6700',
   '4. close': '221.7700',
   '5. volume': '188732371'},
  '2022-02-28': {'1. open': '226.9000',
   '2. high': '235.8500',
   '3. low': '201.4500',
   '4. close': '216.1200',
   '5. volume': '171668723'},
  '2022-01-31': {'1. open': '217.5200',
   '2. high': '228.1200',
   '3. low': '195.6500',
   '4. close': '226.1700',
   '5. volume': '224640154'},
  '2021-12-31': {'1. open': '196.0300',
   '2. high': '219.7300',
   '3. low': '190.1000',
   '4. close': '216.7100',
   '5. volume': '189072557'},
  '2021-11-30': {'1. open': '213.4900',
   '2. high': '221.6100',
   '3. low': '192.5500',
   '4. close': '193.7700',
   '5. volume': '303787625'},
  '2021-10-29': {'1. open': '224.1700',
   '2. high': '236.9600',
   '3. low': '208.5400',
   '4. close': '211.7700',
   '5. volume': '170235962'},
  '2021-09-30': {'1. open': '229.1000',
   '2. high': '233.3300',
   '3. low': '216.3100',
   '4. close': '222.7500',
   '5. volume': '175674100'},
  '2021-08-31': {'1. open': '246.2400',
   '2. high': '247.8300',
   '3. low': '228.6600',
   '4. close': '229.1000',
   '5. volume': '148464103'},
  '2021-07-30': {'1. open': '234.2000',
   '2. high': '252.6700',
   '3. low': '234.0499',
   '4. close': '246.3900',
   '5. volume': '157809397'},
  '2021-06-30': {'1. open': '229.4400',
   '2. high': '238.4800',
   '3. low': '226.2800',
   '4. close': '233.8200',
   '5. volume': '151631040'},
  '2021-05-28': {'1. open': '234.0500',
   '2. high': '235.7400',
   '3. low': '220.3100',
   '4. close': '227.3000',
   '5. volume': '127250043'},
  '2021-04-30': {'1. open': '213.7840',
   '2. high': '237.5000',
   '3. low': '212.3000',
   '4. close': '233.5600',
   '5. volume': '152922449'},
  '2021-03-31': {'1. open': '214.9700',
   '2. high': '228.2298',
   '3. low': '205.7800',
   '4. close': '211.7300',
   '5. volume': '228910433'},
  '2021-02-26': {'1. open': '195.1400',
   '2. high': '220.5300',
   '3. low': '195.0200',
   '4. close': '212.3900',
   '5. volume': '196654813'},
  '2021-01-29': {'1. open': '220.2500',
   '2. high': '220.2500',
   '3. low': '192.8100',
   '4. close': '193.2500',
   '5. volume': '198356580'},
  '2020-12-31': {'1. open': '212.1300',
   '2. high': '220.3900',
   '3. low': '204.5000',
   '4. close': '218.7300',
   '5. volume': '178457456'},
  '2020-11-30': {'1. open': '184.5100',
   '2. high': '217.6500',
   '3. low': '183.8900',
   '4. close': '210.3500',
   '5. volume': '156651025'},
  '2020-10-30': {'1. open': '202.2100',
   '2. high': '207.9700',
   '3. low': '179.2300',
   '4. close': '181.7100',
   '5. volume': '172181178'},
  '2020-09-30': {'1. open': '212.2100',
   '2. high': '217.3500',
   '3. low': '193.1300',
   '4. close': '199.9700',
   '5. volume': '176375547'},
  '2020-08-31': {'1. open': '191.8000',
   '2. high': '216.1600',
   '3. low': '190.0800',
   '4. close': '211.9900',
   '5. volume': '161589042'},
  '2020-07-31': {'1. open': '193.8500',
   '2. high': '200.9500',
   '3. low': '187.1800',
   '4. close': '190.4000',
   '5. volume': '168844674'},
  '2020-06-30': {'1. open': '194.7100',
   '2. high': '202.1800',
   '3. low': '186.2100',
   '4. close': '193.1700',
   '5. volume': '192103395'},
  '2020-05-29': {'1. open': '174.4500',
   '2. high': '198.2900',
   '3. low': '171.7200',
   '4. close': '195.2400',
   '5. volume': '189585116'},
  '2020-04-30': {'1. open': '156.3200',
   '2. high': '182.2500',
   '3. low': '150.6000',
   '4. close': '178.7200',
   '5. volume': '263495312'},
  '2020-03-31': {'1. open': '186.3200',
   '2. high': '194.4900',
   '3. low': '133.9300',
   '4. close': '161.1200',
   '5. volume': '417542977'},
  '2020-02-28': {'1. open': '199.9400',
   '2. high': '214.1700',
   '3. low': '172.9800',
   '4. close': '181.7600',
   '5. volume': '199776179'},
  '2020-01-31': {'1. open': '189.0000',
   '2. high': '210.1300',
   '3. low': '187.1600',
   '4. close': '198.9700',
   '5. volume': '183582543'},
  '2019-12-31': {'1. open': '184.2400',
   '2. high': '189.8900',
   '3. low': '179.6600',
   '4. close': '187.9000',
   '5. volume': '160394084'},
  '2019-11-29': {'1. open': '180.1300',
   '2. high': '184.8500',
   '3. low': '175.1800',
   '4. close': '184.5100',
   '5. volume': '134065026'},
  '2019-10-31': {'1. open': '173.0200',
   '2. high': '180.1800',
   '3. low': '168.5900',
   '4. close': '178.8600',
   '5. volume': '162923578'},
  '2019-09-30': {'1. open': '180.5200',
   '2. high': '187.0500',
   '3. low': '172.0100',
   '4. close': '172.0100',
   '5. volume': '171931176'},
  '2019-08-30': {'1. open': '179.1900',
   '2. high': '182.4000',
   '3. low': '166.9800',
   '4. close': '180.8200',
   '5. volume': '154470525'},
  '2019-07-31': {'1. open': '175.3300',
   '2. high': '184.0700',
   '3. low': '172.7400',
   '4. close': '178.0000',
   '5. volume': '126736340'},
  '2019-06-28': {'1. open': '161.5400',
   '2. high': '174.9400',
   '3. low': '156.7500',
   '4. close': '173.5500',
   '5. volume': '158885114'},
  '2019-05-31': {'1. open': '165.5400',
   '2. high': '165.7700',
   '3. low': '156.4200',
   '4. close': '161.3300',
   '5. volume': '147282119'},
  '2019-04-30': {'1. open': '157.5300',
   '2. high': '165.7000',
   '3. low': '156.3200',
   '4. close': '164.4300',
   '5. volume': '136490658'},
  '2019-03-29': {'1. open': '149.4600',
   '2. high': '156.8200',
   '3. low': '144.5000',
   '4. close': '156.1900',
   '5. volume': '207401562'},
  '2019-02-28': {'1. open': '135.3900',
   '2. high': '148.8200',
   '3. low': '135.2600',
   '4. close': '148.1200',
   '5. volume': '154776247'},
  '2019-01-31': {'1. open': '130.0000',
   '2. high': '139.9000',
   '3. low': '127.8800',
   '4. close': '135.0100',
   '5. volume': '193205412'},
  '2018-12-31': {'1. open': '145.0000',
   '2. high': '145.7200',
   '3. low': '121.6000',
   '4. close': '131.9400',
   '5. volume': '242677721'},
  '2018-11-30': {'1. open': '139.0000',
   '2. high': '145.4600',
   '3. low': '129.5400',
   '4. close': '141.7100',
   '5. volume': '208766205'},
  '2018-10-31': {'1. open': '150.8900',
   '2. high': '151.5600',
   '3. low': '129.7900',
   '4. close': '137.8500',
   '5. volume': '254092004'},
  '2018-09-28': {'1. open': '146.9300',
   '2. high': '150.6400',
   '3. low': '142.5400',
   '4. close': '150.0900',
   '5. volume': '147500495'},
  '2018-08-31': {'1. open': '137.7400',
   '2. high': '147.7100',
   '3. low': '137.0000',
   '4. close': '146.8900',
   '5. volume': '143157273'},
  '2018-07-31': {'1. open': '131.9600',
   '2. high': '143.1400',
   '3. low': '131.1500',
   '4. close': '136.7400',
   '5. volume': '161562542'},
  '2018-06-29': {'1. open': '131.8400',
   '2. high': '136.6900',
   '3. low': '129.5300',
   '4. close': '132.4500',
   '5. volume': '154720393'},
  '2018-05-31': {'1. open': '126.8600',
   '2. high': '132.5000',
   '3. low': '125.3200',
   '4. close': '130.7200',
   '5. volume': '147562270'},
  '2018-04-30': {'1. open': '119.2700',
   '2. high': '127.9000',
   '3. low': '116.7100',
   '4. close': '126.8800',
   '5. volume': '165231144'},
  '2018-03-29': {'1. open': '123.2600',
   '2. high': '125.4400',
   '3. low': '116.0300',
   '4. close': '119.6200',
   '5. volume': '182392051'},
  '2018-02-28': {'1. open': '124.7400',
   '2. high': '126.2600',
   '3. low': '111.0200',
   '4. close': '122.9400',
   '5. volume': '183890719'},
  '2018-01-31': {'1. open': '114.5700',
   '2. high': '126.8800',
   '3. low': '113.9500',
   '4. close': '124.2300',
   '5. volume': '144967375'},
  '2017-12-29': {'1. open': '112.3800',
   '2. high': '114.9200',
   '3. low': '106.6000',
   '4. close': '114.0200',
   '5. volume': '175640154'},
  '2017-11-30': {'1. open': '110.5000',
   '2. high': '113.6200',
   '3. low': '106.9000',
   '4. close': '112.5900',
   '5. volume': '136051994'},
  '2017-10-31': {'1. open': '105.5400',
   '2. high': '110.7400',
   '3. low': '104.8977',
   '4. close': '109.9800',
   '5. volume': '140428442'},
  '2017-09-29': {'1. open': '104.0400',
   '2. high': '106.8350',
   '3. low': '102.2600',
   '4. close': '105.2400',
   '5. volume': '137450408'},
  '2017-08-31': {'1. open': '100.3600',
   '2. high': '104.2000',
   '3. low': '99.4300',
   '4. close': '103.5200',
   '5. volume': '148740209'},
  '2017-07-31': {'1. open': '94.3800',
   '2. high': '101.1800',
   '3. low': '93.1900',
   '4. close': '99.5600',
   '5. volume': '154989518'},
  '2017-06-30': {'1. open': '95.4000',
   '2. high': '96.6000',
   '3. low': '92.8000',
   '4. close': '93.7800',
   '5. volume': '197251059'},
  '2017-05-31': {'1. open': '91.2900',
   '2. high': '95.5300',
   '3. low': '91.1400',
   '4. close': '95.2300',
   '5. volume': '155976358'},
  '2017-04-28': {'1. open': '89.1400',
   '2. high': '92.8000',
   '3. low': '88.1300',
   '4. close': '91.2200',
   '5. volume': '156139058'},
  '2017-03-31': {'1. open': '88.7400',
   '2. high': '92.0500',
   '3. low': '87.8500',
   '4. close': '88.8700',
   '5. volume': '176898019'},
  '2017-02-28': {'1. open': '82.9000',
   '2. high': '88.4900',
   '3. low': '81.5700',
   '4. close': '87.9400',
   '5. volume': '167783472'},
  '2017-01-31': {'1. open': '78.7600',
   '2. high': '84.2700',
   '3. low': '78.4900',
   '4. close': '82.7100',
   '5. volume': '159153885'},
  '2016-12-30': {'1. open': '77.5700',
   '2. high': '80.3900',
   '3. low': '75.1700',
   '4. close': '78.0200',
   '5. volume': '244868085'},
  '2016-11-30': {'1. open': '82.6400',
   '2. high': '83.9600',
   '3. low': '77.2800',
   '4. close': '77.3200',
   '5. volume': '234696164'},
  '2016-10-31': {'1. open': '82.4200',
   '2. high': '83.7000',
   '3. low': '81.1100',
   '4. close': '82.5100',
   '5. volume': '178635744'},
  '2016-09-30': {'1. open': '81.1400',
   '2. high': '83.7900',
   '3. low': '80.9700',
   '4. close': '82.7000',
   '5. volume': '179003676'},
  '2016-08-31': {'1. open': '78.3100',
   '2. high': '81.7600',
   '3. low': '77.7300',
   '4. close': '80.9000',
   '5. volume': '149237623'},
  '2016-07-29': {'1. open': '74.5000',
   '2. high': '80.1700',
   '3. low': '73.8300',
   '4. close': '78.0500',
   '5. volume': '183918469'},
  '2016-06-30': {'1. open': '78.6900',
   '2. high': '81.7100',
   '3. low': '73.2500',
   '4. close': '74.1700',
   '5. volume': '233222035'},
  '2016-05-31': {'1. open': '77.8100',
   '2. high': '79.8700',
   '3. low': '76.2200',
   '4. close': '78.9400',
   '5. volume': '146453556'},
  '2016-04-29': {'1. open': '76.2500',
   '2. high': '81.7300',
   '3. low': '75.8000',
   '4. close': '77.2400',
   '5. volume': '174268331'},
  '2016-03-31': {'1. open': '72.9900',
   '2. high': '77.0000',
   '3. low': '69.5800',
   '4. close': '76.4800',
   '5. volume': '195451016'},
  '2016-02-29': {'1. open': '74.0800',
   '2. high': '74.7800',
   '3. low': '66.1200',
   '4. close': '72.3900',
   '5. volume': '213955896'},
  '2016-01-29': {'1. open': '76.0600',
   '2. high': '76.5100',
   '3. low': '68.7600',
   '4. close': '74.4900',
   '5. volume': '260380987'},
  '2015-12-31': {'1. open': '79.5300',
   '2. high': '80.4900',
   '3. low': '75.5200',
   '4. close': '77.5500',
   '5. volume': '196690064'},
  '2015-11-30': {'1. open': '75.1900',
   '2. high': '81.0100',
   '3. low': '74.5300',
   '4. close': '79.0100',
   '5. volume': '183615398'},
  '2015-10-30': {'1. open': '70.0900',
   '2. high': '78.8900',
   '3. low': '68.3600',
   '4. close': '77.5800',
   '5. volume': '177419211'},
  '2015-09-30': {'1. open': '69.5500',
   '2. high': '72.3200',
   '3. low': '67.0300',
   '4. close': '69.6600',
   '5. volume': '208292303'},
  '2015-08-31': {'1. open': '75.5900',
   '2. high': '76.1700',
   '3. low': '60.0000',
   '4. close': '71.3000',
   '5. volume': '178934538'},
  '2015-07-31': {'1. open': '67.9400',
   '2. high': '76.9200',
   '3. low': '66.5300',
   '4. close': '75.3400',
   '5. volume': '177273461'},
  '2015-06-30': {'1. open': '69.1300',
   '2. high': '70.0200',
   '3. low': '66.6900',
   '4. close': '67.1500',
   '5. volume': '131118485'},
  '2015-05-29': {'1. open': '65.2200',
   '2. high': '70.6900',
   '3. low': '65.1500',
   '4. close': '68.6800',
   '5. volume': '144581935'},
  '2015-04-30': {'1. open': '65.4500',
   '2. high': '69.9800',
   '3. low': '64.3500',
   '4. close': '66.0500',
   '5. volume': '160608587'},
  '2015-03-31': {'1. open': '276.7100',
   '2. high': '278.6500',
   '3. low': '65.0200',
   '4. close': '65.4100',
   '5. volume': '136699508'},
  '2015-02-27': {'1. open': '256.3100',
   '2. high': '274.5000',
   '3. low': '249.7000',
   '4. close': '271.3100',
   '5. volume': '49187104'},
  '2015-01-30': {'1. open': '263.3800',
   '2. high': '266.7500',
   '3. low': '245.1700',
   '4. close': '254.9100',
   '5. volume': '56093964'},
  '2014-12-31': {'1. open': '256.2700',
   '2. high': '269.3200',
   '3. low': '252.3500',
   '4. close': '262.2000',
   '5. volume': '50490539'},
  '2014-11-28': {'1. open': '240.9800',
   '2. high': '259.5000',
   '3. low': '239.0000',
   '4. close': '258.1900',
   '5. volume': '51380169'},
  '2014-10-31': {'1. open': '212.8500',
   '2. high': '242.5000',
   '3. low': '195.1900',
   '4. close': '241.4300',
   '5. volume': '80839596'},
  '2014-09-30': {'1. open': '213.4100',
   '2. high': '218.6500',
   '3. low': '209.1200',
   '4. close': '213.3700',
   '5. volume': '50857195'},
  '2014-08-29': {'1. open': '209.8700',
   '2. high': '218.0000',
   '3. low': '208.2100',
   '4. close': '212.5200',
   '5. volume': '44936500'},
  '2014-07-31': {'1. open': '211.9500',
   '2. high': '224.7500',
   '3. low': '211.0100',
   '4. close': '211.0100',
   '5. volume': '55415300'},
  '2014-06-30': {'1. open': '215.3700',
   '2. high': '215.6900',
   '3. low': '207.3100',
   '4. close': '210.7100',
   '5. volume': '50554700'},
  '2014-05-30': {'1. open': '204.1000',
   '2. high': '215.9500',
   '3. low': '203.0000',
   '4. close': '214.8300',
   '5. volume': '54955700'},
  '2014-04-30': {'1. open': '217.0800',
   '2. high': '218.1586',
   '3. low': '194.8400',
   '4. close': '202.6100',
   '5. volume': '96853500'},
  '2014-03-31': {'1. open': '223.2400',
   '2. high': '232.6700',
   '3. low': '210.5200',
   '4. close': '215.8600',
   '5. volume': '66709900'},
  '2014-02-28': {'1. open': '216.5100',
   '2. high': '228.4800',
   '3. low': '211.3800',
   '4. close': '225.9400',
   '5. volume': '57835200'},
  '2014-01-31': {'1. open': '221.5400',
   '2. high': '235.5000',
   '3. low': '215.1090',
   '4. close': '215.4300',
   '5. volume': '75352000'},
  '2013-12-31': {'1. open': '204.1000',
   '2. high': '222.7200',
   '3. low': '199.4300',
   '4. close': '222.6800',
   '5. volume': '70411400'},
  '2013-11-29': {'1. open': '198.9500',
   '2. high': '205.0699',
   '3. low': '195.0000',
   '4. close': '203.4600',
   '5. volume': '51368400'},
  '2013-10-31': {'1. open': '191.2900',
   '2. high': '205.2500',
   '3. low': '180.1100',
   '4. close': '196.6700',
   '5. volume': '67642100'},
  '2013-09-30': {'1. open': '176.0300',
   '2. high': '200.8600',
   '3. low': '175.0500',
   '4. close': '191.1000',
   '5. volume': '71214300'},
  '2013-08-30': {'1. open': '181.7600',
   '2. high': '185.1400',
   '3. low': '172.2100',
   '4. close': '174.4200',
   '5. volume': '92972300'},
  '2013-07-31': {'1. open': '183.9000',
   '2. high': '196.0000',
   '3. low': '170.9900',
   '4. close': '177.0100',
   '5. volume': '84007800'},
  '2013-06-28': {'1. open': '178.7500',
   '2. high': '185.2300',
   '3. low': '175.6800',
   '4. close': '182.7500',
   '5. volume': '62189200'},
  '2013-05-31': {'1. open': '166.9900',
   '2. high': '184.9000',
   '3. low': '163.6000',
   '4. close': '178.1400',
   '5. volume': '77751600'},
  '2013-04-30': {'1. open': '169.7500',
   '2. high': '170.9900',
   '3. low': '161.2700',
   '4. close': '168.4600',
   '5. volume': '51905700'},
  '2013-03-28': {'1. open': '157.9300',
   '2. high': '170.9600',
   '3. low': '155.6800',
   '4. close': '169.8400',
   '5. volume': '64842600'},
  '2013-02-28': {'1. open': '159.0000',
   '2. high': '160.8800',
   '3. low': '154.1400',
   '4. close': '158.6400',
   '5. volume': '61217500'},
  '2013-01-31': {'1. open': '154.1600',
   '2. high': '162.7700',
   '3. low': '153.9300',
   '4. close': '157.9100',
   '5. volume': '59355700'},
  '2012-12-31': {'1. open': '150.0000',
   '2. high': '152.5100',
   '3. low': '146.1000',
   '4. close': '151.5800',
   '5. volume': '54031200'},
  '2012-11-30': {'1. open': '140.8200',
   '2. high': '149.9300',
   '3. low': '138.5300',
   '4. close': '149.7100',
   '5. volume': '62366800'},
  '2012-10-31': {'1. open': '134.8700',
   '2. high': '143.1000',
   '3. low': '134.8700',
   '4. close': '138.7600',
   '5. volume': '57055600'},
  '2012-09-28': {'1. open': '128.3600',
   '2. high': '136.6500',
   '3. low': '126.9500',
   '4. close': '134.2800',
   '5. volume': '63213900'},
  '2012-08-31': {'1. open': '128.5000',
   '2. high': '132.5800',
   '3. low': '125.8100',
   '4. close': '128.2500',
   '5. volume': '54565800'},
  '2012-07-31': {'1. open': '124.2600',
   '2. high': '132.3500',
   '3. low': '119.1000',
   '4. close': '129.0700',
   '5. volume': '73691000'},
  '2012-06-29': {'1. open': '113.6400',
   '2. high': '124.9500',
   '3. low': '111.9401',
   '4. close': '123.6300',
   '5. volume': '73804200'},
  '2012-05-31': {'1. open': '123.4700',
   '2. high': '125.3500',
   '3. low': '112.5000',
   '4. close': '115.2000',
   '5. volume': '100344000'},
  '2012-04-30': {'1. open': '118.0000',
   '2. high': '124.2100',
   '3. low': '116.4800',
   '4. close': '122.9800',
   '5. volume': '62665100'},
  '2012-03-30': {'1. open': '117.4500',
   '2. high': '120.6960',
   '3. low': '113.5400',
   '4. close': '118.0000',
   '5. volume': '62867300'},
  '2012-02-29': {'1. open': '101.1800',
   '2. high': '119.3600',
   '3. low': '100.6025',
   '4. close': '116.3700',
   '5. volume': '89913900'},
  '2012-01-31': {'1. open': '103.4000',
   '2. high': '104.2000',
   '3. low': '98.3300',
   '4. close': '100.6400',
   '5. volume': '76346100'},
  '2011-12-30': {'1. open': '95.9200',
   '2. high': '103.4500',
   '3. low': '95.0500',
   '4. close': '101.5300',
   '5. volume': '78358900'},
  '2011-11-30': {'1. open': '91.1600',
   '2. high': '97.0300',
   '3. low': '88.7800',
   '4. close': '96.9700',
   '5. volume': '84173500'},
  '2011-10-31': {'1. open': '84.9700',
   '2. high': '95.8700',
   '3. low': '81.7100',
   '4. close': '93.2600',
   '5. volume': '104767000'},
  '2011-09-30': {'1. open': '87.7200',
   '2. high': '94.7500',
   '3. low': '83.2500',
   '4. close': '85.7200',
   '5. volume': '120505600'},
  '2011-08-31': {'1. open': '87.0000',
   '2. high': '88.8500',
   '3. low': '76.1100',
   '4. close': '87.8800',
   '5. volume': '160948700'},
  '2011-07-29': {'1. open': '84.1000',
   '2. high': '90.8300',
   '3. low': '83.6000',
   '4. close': '85.5400',

In [132]:
dataV['Monthly Time Series']

{'2022-09-13': {'1. open': '198.7200',
  '2. high': '207.1900',
  '3. low': '196.4000',
  '4. close': '199.6700',
  '5. volume': '36959229'},
 '2022-08-31': {'1. open': '208.4500',
  '2. high': '217.6100',
  '3. low': '198.6400',
  '4. close': '198.7100',
  '5. volume': '130178837'},
 '2022-07-29': {'1. open': '196.7900',
  '2. high': '218.0700',
  '3. low': '194.1400',
  '4. close': '212.1100',
  '5. volume': '118596952'},
 '2022-06-30': {'1. open': '212.0500',
  '2. high': '217.5800',
  '3. low': '185.9100',
  '4. close': '196.8900',
  '5. volume': '128123527'},
 '2022-05-31': {'1. open': '211.7700',
  '2. high': '214.8000',
  '3. low': '189.9500',
  '4. close': '212.1700',
  '5. volume': '171858850'},
 '2022-04-29': {'1. open': '223.0800',
  '2. high': '229.2400',
  '3. low': '201.1000',
  '4. close': '213.1300',
  '5. volume': '151474586'},
 '2022-03-31': {'1. open': '214.4800',
  '2. high': '228.8100',
  '3. low': '186.6700',
  '4. close': '221.7700',
  '5. volume': '188732371'},
 '2022-02-28': {'1. open': '226.9000',
  '2. high': '235.8500',
  '3. low': '201.4500',
  '4. close': '216.1200',
  '5. volume': '171668723'},
 '2022-01-31': {'1. open': '217.5200',
  '2. high': '228.1200',
  '3. low': '195.6500',
  '4. close': '226.1700',
  '5. volume': '224640154'},
 '2021-12-31': {'1. open': '196.0300',
  '2. high': '219.7300',
  '3. low': '190.1000',
  '4. close': '216.7100',
  '5. volume': '189072557'},
 '2021-11-30': {'1. open': '213.4900',
  '2. high': '221.6100',
  '3. low': '192.5500',
  '4. close': '193.7700',
  '5. volume': '303787625'},
 '2021-10-29': {'1. open': '224.1700',
  '2. high': '236.9600',
  '3. low': '208.5400',
  '4. close': '211.7700',
  '5. volume': '170235962'},
 '2021-09-30': {'1. open': '229.1000',
  '2. high': '233.3300',
  '3. low': '216.3100',
  '4. close': '222.7500',
  '5. volume': '175674100'},
 '2021-08-31': {'1. open': '246.2400',
  '2. high': '247.8300',
  '3. low': '228.6600',
  '4. close': '229.1000',
  '5. volume': '148464103'},
 '2021-07-30': {'1. open': '234.2000',
  '2. high': '252.6700',
  '3. low': '234.0499',
  '4. close': '246.3900',
  '5. volume': '157809397'},
 '2021-06-30': {'1. open': '229.4400',
  '2. high': '238.4800',
  '3. low': '226.2800',
  '4. close': '233.8200',
  '5. volume': '151631040'},
 '2021-05-28': {'1. open': '234.0500',
  '2. high': '235.7400',
  '3. low': '220.3100',
  '4. close': '227.3000',
  '5. volume': '127250043'},
 '2021-04-30': {'1. open': '213.7840',
  '2. high': '237.5000',
  '3. low': '212.3000',
  '4. close': '233.5600',
  '5. volume': '152922449'},
 '2021-03-31': {'1. open': '214.9700',
  '2. high': '228.2298',
  '3. low': '205.7800',
  '4. close': '211.7300',
  '5. volume': '228910433'},
 '2021-02-26': {'1. open': '195.1400',
  '2. high': '220.5300',
  '3. low': '195.0200',
  '4. close': '212.3900',
  '5. volume': '196654813'},
 '2021-01-29': {'1. open': '220.2500',
  '2. high': '220.2500',
  '3. low': '192.8100',
  '4. close': '193.2500',
  '5. volume': '198356580'},
 '2020-12-31': {'1. open': '212.1300',
  '2. high': '220.3900',
  '3. low': '204.5000',
  '4. close': '218.7300',
  '5. volume': '178457456'},
 '2020-11-30': {'1. open': '184.5100',
  '2. high': '217.6500',
  '3. low': '183.8900',
  '4. close': '210.3500',
  '5. volume': '156651025'},
 '2020-10-30': {'1. open': '202.2100',
  '2. high': '207.9700',
  '3. low': '179.2300',
  '4. close': '181.7100',
  '5. volume': '172181178'},
 '2020-09-30': {'1. open': '212.2100',
  '2. high': '217.3500',
  '3. low': '193.1300',
  '4. close': '199.9700',
  '5. volume': '176375547'},
 '2020-08-31': {'1. open': '191.8000',
  '2. high': '216.1600',
  '3. low': '190.0800',
  '4. close': '211.9900',
  '5. volume': '161589042'},
 '2020-07-31': {'1. open': '193.8500',
  '2. high': '200.9500',
  '3. low': '187.1800',
  '4. close': '190.4000',
  '5. volume': '168844674'},
 '2020-06-30': {'1. open': '194.7100',
  '2. high': '202.1800',
  '3. low': '186.2100',
  '4. close': '193.1700',
  '5. volume': '192103395'},
 '2020-05-29': {'1. open': '174.4500',
  '2. high': '198.2900',
  '3. low': '171.7200',
  '4. close': '195.2400',
  '5. volume': '189585116'},
 '2020-04-30': {'1. open': '156.3200',
  '2. high': '182.2500',
  '3. low': '150.6000',
  '4. close': '178.7200',
  '5. volume': '263495312'},
 '2020-03-31': {'1. open': '186.3200',
  '2. high': '194.4900',
  '3. low': '133.9300',
  '4. close': '161.1200',
  '5. volume': '417542977'},
 '2020-02-28': {'1. open': '199.9400',
  '2. high': '214.1700',
  '3. low': '172.9800',
  '4. close': '181.7600',
  '5. volume': '199776179'},
 '2020-01-31': {'1. open': '189.0000',
  '2. high': '210.1300',
  '3. low': '187.1600',
  '4. close': '198.9700',
  '5. volume': '183582543'},
 '2019-12-31': {'1. open': '184.2400',
  '2. high': '189.8900',
  '3. low': '179.6600',
  '4. close': '187.9000',
  '5. volume': '160394084'},
 '2019-11-29': {'1. open': '180.1300',
  '2. high': '184.8500',
  '3. low': '175.1800',
  '4. close': '184.5100',
  '5. volume': '134065026'},
 '2019-10-31': {'1. open': '173.0200',
  '2. high': '180.1800',
  '3. low': '168.5900',
  '4. close': '178.8600',
  '5. volume': '162923578'},
 '2019-09-30': {'1. open': '180.5200',
  '2. high': '187.0500',
  '3. low': '172.0100',
  '4. close': '172.0100',
  '5. volume': '171931176'},
 '2019-08-30': {'1. open': '179.1900',
  '2. high': '182.4000',
  '3. low': '166.9800',
  '4. close': '180.8200',
  '5. volume': '154470525'},
 '2019-07-31': {'1. open': '175.3300',
  '2. high': '184.0700',
  '3. low': '172.7400',
  '4. close': '178.0000',
  '5. volume': '126736340'},
 '2019-06-28': {'1. open': '161.5400',
  '2. high': '174.9400',
  '3. low': '156.7500',
  '4. close': '173.5500',
  '5. volume': '158885114'},
 '2019-05-31': {'1. open': '165.5400',
  '2. high': '165.7700',
  '3. low': '156.4200',
  '4. close': '161.3300',
  '5. volume': '147282119'},
 '2019-04-30': {'1. open': '157.5300',
  '2. high': '165.7000',
  '3. low': '156.3200',
  '4. close': '164.4300',
  '5. volume': '136490658'},
 '2019-03-29': {'1. open': '149.4600',
  '2. high': '156.8200',
  '3. low': '144.5000',
  '4. close': '156.1900',
  '5. volume': '207401562'},
 '2019-02-28': {'1. open': '135.3900',
  '2. high': '148.8200',
  '3. low': '135.2600',
  '4. close': '148.1200',
  '5. volume': '154776247'},
 '2019-01-31': {'1. open': '130.0000',
  '2. high': '139.9000',
  '3. low': '127.8800',
  '4. close': '135.0100',
  '5. volume': '193205412'},
 '2018-12-31': {'1. open': '145.0000',
  '2. high': '145.7200',
  '3. low': '121.6000',
  '4. close': '131.9400',
  '5. volume': '242677721'},
 '2018-11-30': {'1. open': '139.0000',
  '2. high': '145.4600',
  '3. low': '129.5400',
  '4. close': '141.7100',
  '5. volume': '208766205'},
 '2018-10-31': {'1. open': '150.8900',
  '2. high': '151.5600',
  '3. low': '129.7900',
  '4. close': '137.8500',
  '5. volume': '254092004'},
 '2018-09-28': {'1. open': '146.9300',
  '2. high': '150.6400',
  '3. low': '142.5400',
  '4. close': '150.0900',
  '5. volume': '147500495'},
 '2018-08-31': {'1. open': '137.7400',
  '2. high': '147.7100',
  '3. low': '137.0000',
  '4. close': '146.8900',
  '5. volume': '143157273'},
 '2018-07-31': {'1. open': '131.9600',
  '2. high': '143.1400',
  '3. low': '131.1500',
  '4. close': '136.7400',
  '5. volume': '161562542'},
 '2018-06-29': {'1. open': '131.8400',
  '2. high': '136.6900',
  '3. low': '129.5300',
  '4. close': '132.4500',
  '5. volume': '154720393'},
 '2018-05-31': {'1. open': '126.8600',
  '2. high': '132.5000',
  '3. low': '125.3200',
  '4. close': '130.7200',
  '5. volume': '147562270'},
 '2018-04-30': {'1. open': '119.2700',
  '2. high': '127.9000',
  '3. low': '116.7100',
  '4. close': '126.8800',
  '5. volume': '165231144'},
 '2018-03-29': {'1. open': '123.2600',
  '2. high': '125.4400',
  '3. low': '116.0300',
  '4. close': '119.6200',
  '5. volume': '182392051'},
 '2018-02-28': {'1. open': '124.7400',
  '2. high': '126.2600',
  '3. low': '111.0200',
  '4. close': '122.9400',
  '5. volume': '183890719'},
 '2018-01-31': {'1. open': '114.5700',
  '2. high': '126.8800',
  '3. low': '113.9500',
  '4. close': '124.2300',
  '5. volume': '144967375'},
 '2017-12-29': {'1. open': '112.3800',
  '2. high': '114.9200',
  '3. low': '106.6000',
  '4. close': '114.0200',
  '5. volume': '175640154'},
 '2017-11-30': {'1. open': '110.5000',
  '2. high': '113.6200',
  '3. low': '106.9000',
  '4. close': '112.5900',
  '5. volume': '136051994'},
 '2017-10-31': {'1. open': '105.5400',
  '2. high': '110.7400',
  '3. low': '104.8977',
  '4. close': '109.9800',
  '5. volume': '140428442'},
 '2017-09-29': {'1. open': '104.0400',
  '2. high': '106.8350',
  '3. low': '102.2600',
  '4. close': '105.2400',
  '5. volume': '137450408'},
 '2017-08-31': {'1. open': '100.3600',
  '2. high': '104.2000',
  '3. low': '99.4300',
  '4. close': '103.5200',
  '5. volume': '148740209'},
 '2017-07-31': {'1. open': '94.3800',
  '2. high': '101.1800',
  '3. low': '93.1900',
  '4. close': '99.5600',
  '5. volume': '154989518'},
 '2017-06-30': {'1. open': '95.4000',
  '2. high': '96.6000',
  '3. low': '92.8000',
  '4. close': '93.7800',
  '5. volume': '197251059'},
 '2017-05-31': {'1. open': '91.2900',
  '2. high': '95.5300',
  '3. low': '91.1400',
  '4. close': '95.2300',
  '5. volume': '155976358'},
 '2017-04-28': {'1. open': '89.1400',
  '2. high': '92.8000',
  '3. low': '88.1300',
  '4. close': '91.2200',
  '5. volume': '156139058'},
 '2017-03-31': {'1. open': '88.7400',
  '2. high': '92.0500',
  '3. low': '87.8500',
  '4. close': '88.8700',
  '5. volume': '176898019'},
 '2017-02-28': {'1. open': '82.9000',
  '2. high': '88.4900',
  '3. low': '81.5700',
  '4. close': '87.9400',
  '5. volume': '167783472'},
 '2017-01-31': {'1. open': '78.7600',
  '2. high': '84.2700',
  '3. low': '78.4900',
  '4. close': '82.7100',
  '5. volume': '159153885'},
 '2016-12-30': {'1. open': '77.5700',
  '2. high': '80.3900',
  '3. low': '75.1700',
  '4. close': '78.0200',
  '5. volume': '244868085'},
 '2016-11-30': {'1. open': '82.6400',
  '2. high': '83.9600',
  '3. low': '77.2800',
  '4. close': '77.3200',
  '5. volume': '234696164'},
 '2016-10-31': {'1. open': '82.4200',
  '2. high': '83.7000',
  '3. low': '81.1100',
  '4. close': '82.5100',
  '5. volume': '178635744'},
 '2016-09-30': {'1. open': '81.1400',
  '2. high': '83.7900',
  '3. low': '80.9700',
  '4. close': '82.7000',
  '5. volume': '179003676'},
 '2016-08-31': {'1. open': '78.3100',
  '2. high': '81.7600',
  '3. low': '77.7300',
  '4. close': '80.9000',
  '5. volume': '149237623'},
 '2016-07-29': {'1. open': '74.5000',
  '2. high': '80.1700',
  '3. low': '73.8300',
  '4. close': '78.0500',
  '5. volume': '183918469'},
 '2016-06-30': {'1. open': '78.6900',
  '2. high': '81.7100',
  '3. low': '73.2500',
  '4. close': '74.1700',
  '5. volume': '233222035'},
 '2016-05-31': {'1. open': '77.8100',
  '2. high': '79.8700',
  '3. low': '76.2200',
  '4. close': '78.9400',
  '5. volume': '146453556'},
 '2016-04-29': {'1. open': '76.2500',
  '2. high': '81.7300',
  '3. low': '75.8000',
  '4. close': '77.2400',
  '5. volume': '174268331'},
 '2016-03-31': {'1. open': '72.9900',
  '2. high': '77.0000',
  '3. low': '69.5800',
  '4. close': '76.4800',
  '5. volume': '195451016'},
 '2016-02-29': {'1. open': '74.0800',
  '2. high': '74.7800',
  '3. low': '66.1200',
  '4. close': '72.3900',
  '5. volume': '213955896'},
 '2016-01-29': {'1. open': '76.0600',
  '2. high': '76.5100',
  '3. low': '68.7600',
  '4. close': '74.4900',
  '5. volume': '260380987'},
 '2015-12-31': {'1. open': '79.5300',
  '2. high': '80.4900',
  '3. low': '75.5200',
  '4. close': '77.5500',
  '5. volume': '196690064'},
 '2015-11-30': {'1. open': '75.1900',
  '2. high': '81.0100',
  '3. low': '74.5300',
  '4. close': '79.0100',
  '5. volume': '183615398'},
 '2015-10-30': {'1. open': '70.0900',
  '2. high': '78.8900',
  '3. low': '68.3600',
  '4. close': '77.5800',
  '5. volume': '177419211'},
 '2015-09-30': {'1. open': '69.5500',
  '2. high': '72.3200',
  '3. low': '67.0300',
  '4. close': '69.6600',
  '5. volume': '208292303'},
 '2015-08-31': {'1. open': '75.5900',
  '2. high': '76.1700',
  '3. low': '60.0000',
  '4. close': '71.3000',
  '5. volume': '178934538'},
 '2015-07-31': {'1. open': '67.9400',
  '2. high': '76.9200',
  '3. low': '66.5300',
  '4. close': '75.3400',
  '5. volume': '177273461'},
 '2015-06-30': {'1. open': '69.1300',
  '2. high': '70.0200',
  '3. low': '66.6900',
  '4. close': '67.1500',
  '5. volume': '131118485'},
 '2015-05-29': {'1. open': '65.2200',
  '2. high': '70.6900',
  '3. low': '65.1500',
  '4. close': '68.6800',
  '5. volume': '144581935'},
 '2015-04-30': {'1. open': '65.4500',
  '2. high': '69.9800',
  '3. low': '64.3500',
  '4. close': '66.0500',
  '5. volume': '160608587'},
 '2015-03-31': {'1. open': '276.7100',
  '2. high': '278.6500',
  '3. low': '65.0200',
  '4. close': '65.4100',
  '5. volume': '136699508'},
 '2015-02-27': {'1. open': '256.3100',
  '2. high': '274.5000',
  '3. low': '249.7000',
  '4. close': '271.3100',
  '5. volume': '49187104'},
 '2015-01-30': {'1. open': '263.3800',
  '2. high': '266.7500',
  '3. low': '245.1700',
  '4. close': '254.9100',
  '5. volume': '56093964'},
 '2014-12-31': {'1. open': '256.2700',
  '2. high': '269.3200',
  '3. low': '252.3500',
  '4. close': '262.2000',
  '5. volume': '50490539'},
 '2014-11-28': {'1. open': '240.9800',
  '2. high': '259.5000',
  '3. low': '239.0000',
  '4. close': '258.1900',
  '5. volume': '51380169'},
 '2014-10-31': {'1. open': '212.8500',
  '2. high': '242.5000',
  '3. low': '195.1900',
  '4. close': '241.4300',
  '5. volume': '80839596'},
 '2014-09-30': {'1. open': '213.4100',
  '2. high': '218.6500',
  '3. low': '209.1200',
  '4. close': '213.3700',
  '5. volume': '50857195'},
 '2014-08-29': {'1. open': '209.8700',
  '2. high': '218.0000',
  '3. low': '208.2100',
  '4. close': '212.5200',
  '5. volume': '44936500'},
 '2014-07-31': {'1. open': '211.9500',
  '2. high': '224.7500',
  '3. low': '211.0100',
  '4. close': '211.0100',
  '5. volume': '55415300'},
 '2014-06-30': {'1. open': '215.3700',
  '2. high': '215.6900',
  '3. low': '207.3100',
  '4. close': '210.7100',
  '5. volume': '50554700'},
 '2014-05-30': {'1. open': '204.1000',
  '2. high': '215.9500',
  '3. low': '203.0000',
  '4. close': '214.8300',
  '5. volume': '54955700'},
 '2014-04-30': {'1. open': '217.0800',
  '2. high': '218.1586',
  '3. low': '194.8400',
  '4. close': '202.6100',
  '5. volume': '96853500'},
 '2014-03-31': {'1. open': '223.2400',
  '2. high': '232.6700',
  '3. low': '210.5200',
  '4. close': '215.8600',
  '5. volume': '66709900'},
 '2014-02-28': {'1. open': '216.5100',
  '2. high': '228.4800',
  '3. low': '211.3800',
  '4. close': '225.9400',
  '5. volume': '57835200'},
 '2014-01-31': {'1. open': '221.5400',
  '2. high': '235.5000',
  '3. low': '215.1090',
  '4. close': '215.4300',
  '5. volume': '75352000'},
 '2013-12-31': {'1. open': '204.1000',
  '2. high': '222.7200',
  '3. low': '199.4300',
  '4. close': '222.6800',
  '5. volume': '70411400'},
 '2013-11-29': {'1. open': '198.9500',
  '2. high': '205.0699',
  '3. low': '195.0000',
  '4. close': '203.4600',
  '5. volume': '51368400'},
 '2013-10-31': {'1. open': '191.2900',
  '2. high': '205.2500',
  '3. low': '180.1100',
  '4. close': '196.6700',
  '5. volume': '67642100'},
 '2013-09-30': {'1. open': '176.0300',
  '2. high': '200.8600',
  '3. low': '175.0500',
  '4. close': '191.1000',
  '5. volume': '71214300'},
 '2013-08-30': {'1. open': '181.7600',
  '2. high': '185.1400',
  '3. low': '172.2100',
  '4. close': '174.4200',
  '5. volume': '92972300'},
 '2013-07-31': {'1. open': '183.9000',
  '2. high': '196.0000',
  '3. low': '170.9900',
  '4. close': '177.0100',
  '5. volume': '84007800'},
 '2013-06-28': {'1. open': '178.7500',
  '2. high': '185.2300',
  '3. low': '175.6800',
  '4. close': '182.7500',
  '5. volume': '62189200'},
 '2013-05-31': {'1. open': '166.9900',
  '2. high': '184.9000',
  '3. low': '163.6000',
  '4. close': '178.1400',
  '5. volume': '77751600'},
 '2013-04-30': {'1. open': '169.7500',
  '2. high': '170.9900',
  '3. low': '161.2700',
  '4. close': '168.4600',
  '5. volume': '51905700'},
 '2013-03-28': {'1. open': '157.9300',
  '2. high': '170.9600',
  '3. low': '155.6800',
  '4. close': '169.8400',
  '5. volume': '64842600'},
 '2013-02-28': {'1. open': '159.0000',
  '2. high': '160.8800',
  '3. low': '154.1400',
  '4. close': '158.6400',
  '5. volume': '61217500'},
 '2013-01-31': {'1. open': '154.1600',
  '2. high': '162.7700',
  '3. low': '153.9300',
  '4. close': '157.9100',
  '5. volume': '59355700'},
 '2012-12-31': {'1. open': '150.0000',
  '2. high': '152.5100',
  '3. low': '146.1000',
  '4. close': '151.5800',
  '5. volume': '54031200'},
 '2012-11-30': {'1. open': '140.8200',
  '2. high': '149.9300',
  '3. low': '138.5300',
  '4. close': '149.7100',
  '5. volume': '62366800'},
 '2012-10-31': {'1. open': '134.8700',
  '2. high': '143.1000',
  '3. low': '134.8700',
  '4. close': '138.7600',
  '5. volume': '57055600'},
 '2012-09-28': {'1. open': '128.3600',
  '2. high': '136.6500',
  '3. low': '126.9500',
  '4. close': '134.2800',
  '5. volume': '63213900'},
 '2012-08-31': {'1. open': '128.5000',
  '2. high': '132.5800',
  '3. low': '125.8100',
  '4. close': '128.2500',
  '5. volume': '54565800'},
 '2012-07-31': {'1. open': '124.2600',
  '2. high': '132.3500',
  '3. low': '119.1000',
  '4. close': '129.0700',
  '5. volume': '73691000'},
 '2012-06-29': {'1. open': '113.6400',
  '2. high': '124.9500',
  '3. low': '111.9401',
  '4. close': '123.6300',
  '5. volume': '73804200'},
 '2012-05-31': {'1. open': '123.4700',
  '2. high': '125.3500',
  '3. low': '112.5000',
  '4. close': '115.2000',
  '5. volume': '100344000'},
 '2012-04-30': {'1. open': '118.0000',
  '2. high': '124.2100',
  '3. low': '116.4800',
  '4. close': '122.9800',
  '5. volume': '62665100'},
 '2012-03-30': {'1. open': '117.4500',
  '2. high': '120.6960',
  '3. low': '113.5400',
  '4. close': '118.0000',
  '5. volume': '62867300'},
 '2012-02-29': {'1. open': '101.1800',
  '2. high': '119.3600',
  '3. low': '100.6025',
  '4. close': '116.3700',
  '5. volume': '89913900'},
 '2012-01-31': {'1. open': '103.4000',
  '2. high': '104.2000',
  '3. low': '98.3300',
  '4. close': '100.6400',
  '5. volume': '76346100'},
 '2011-12-30': {'1. open': '95.9200',
  '2. high': '103.4500',
  '3. low': '95.0500',
  '4. close': '101.5300',
  '5. volume': '78358900'},
 '2011-11-30': {'1. open': '91.1600',
  '2. high': '97.0300',
  '3. low': '88.7800',
  '4. close': '96.9700',
  '5. volume': '84173500'},
 '2011-10-31': {'1. open': '84.9700',
  '2. high': '95.8700',
  '3. low': '81.7100',
  '4. close': '93.2600',
  '5. volume': '104767000'},
 '2011-09-30': {'1. open': '87.7200',
  '2. high': '94.7500',
  '3. low': '83.2500',
  '4. close': '85.7200',
  '5. volume': '120505600'},
 '2011-08-31': {'1. open': '87.0000',
  '2. high': '88.8500',
  '3. low': '76.1100',
  '4. close': '87.8800',
  '5. volume': '160948700'},
 '2011-07-29': {'1. open': '84.1000',
  '2. high': '90.8300',
  '3. low': '83.6000',
  '4. close': '85.5400',
  '5. volume': '113194800'},
 '2011-06-30': {'1. open': '80.7600',
  '2. high': '87.3600',
  '3. low': '73.1100',
  '4. close': '84.2600',
  '5. volume': '196557500'},
 '2011-05-31': {'1. open': '78.4600',
  '2. high': '81.3000',
  '3. low': '76.6000',
  '4. close': '81.0600',
  '5. volume': '99881900'},
 '2011-04-29': {'1. open': '73.9900',
  '2. high': '79.0000',
  '3. low': '73.2615',
  '4. close': '78.1200',
  '5. volume': '80182500'},
 '2011-03-31': {'1. open': '73.8700',
  '2. high': '75.9400',
  '3. low': '70.4500',
  '4. close': '73.6200',
  '5. volume': '132083000'},
 '2011-02-28': {'1. open': '70.2100',
  '2. high': '77.0800',
  '3. low': '70.2100',
  '4. close': '73.0500',
  '5. volume': '114333300'},
 '2011-01-31': {'1. open': '70.4000',
  '2. high': '73.5500',
  '3. low': '67.5100',
  '4. close': '69.8500',
  '5. volume': '139509300'},
 '2010-12-31': {'1. open': '74.9400',

In [133]:
mts_visa = dataV['Meta Data']['2. Symbol']

In [134]:
mts_visa

'V'

In [135]:
import pandas as pd
from datetime import datetime

stock_nameV=[]
date_stampV=[]
close_priceV=[]

for x,y in dataV['Monthly Time Series'].items():
    stock_nameV.append(mts_visa)
    date_stampV.append(datetime.strptime(x, '%Y-%m-%d'))
    close_priceV.append(float(y['4. close']))

In [136]:
dataV_pd = {"date_stamp": date_stampV, "ticker": stock_nameV, "close_price": close_priceV}

In [137]:
df_mtsV=pd.DataFrame(dataV_pd)

In [138]:
df_mtsV

    date_stamp ticker  close_price
0   2022-09-13      V       199.67
1   2022-08-31      V       198.71
2   2022-07-29      V       212.11
3   2022-06-30      V       196.89
4   2022-05-31      V       212.17
..         ...    ...          ...
169 2008-08-29      V        75.90
170 2008-07-31      V        73.06
171 2008-06-30      V        81.31
172 2008-05-30      V        86.36
173 2008-04-30      V        83.45

[174 rows x 3 columns]

In [139]:
# data set source = https://www.alphavantage.co/documentation/ with ticker symbol IVV selected for S&P Index 500 Index ETF
# as a benchmark for the general market
dataIVV = requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=IVV&apikey=NLZ2TGZGULE9VS10")

In [140]:
dataIVV = dataIVV.json()

In [141]:
dataIVV

{'Meta Data': {'1. Information': 'Monthly Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'IVV',
  '3. Last Refreshed': '2022-09-13 16:00:01',
  '4. Time Zone': 'US/Eastern'},
 'Monthly Time Series': {'2022-09-13': {'1. open': '394.9000',
   '2. high': '413.9400',
   '3. low': '390.4500',
   '4. close': '395.1400',
   '5. volume': '35089674'},
  '2022-08-31': {'1. open': '411.3400',
   '2. high': '434.0299',
   '3. low': '397.0900',
   '4. close': '397.1800',
   '5. volume': '93399466'},
  '2022-07-29': {'1. open': '378.5200',
   '2. high': '415.2000',
   '3. low': '372.9700',
   '4. close': '414.2800',
   '5. volume': '95301237'},
  '2022-06-30': {'1. open': '416.9900',
   '2. high': '419.2900',
   '3. low': '364.0300',
   '4. close': '379.1500',
   '5. volume': '146298953'},
  '2022-05-31': {'1. open': '413.6200',
   '2. high': '431.5000',
   '3. low': '382.1700',
   '4. close': '414.8700',
   '5. volume': '148309359'},
  '2022-04-29': {'1. open': '455.2600',
   '2. high': '459.7900',
   '3. low': '412.9800',
   '4. close': '413.5600',
   '5. volume': '120564640'},
  '2022-03-31': {'1. open': '437.0000',
   '2. high': '464.0500',
   '3. low': '416.9100',
   '4. close': '453.6900',
   '5. volume': '177475497'},
  '2022-02-28': {'1. open': '452.6900',
   '2. high': '460.1400',
   '3. low': '412.4000',
   '4. close': '438.7200',
   '5. volume': '164962179'},
  '2022-01-31': {'1. open': '478.3800',
   '2. high': '482.0700',
   '3. low': '422.5600',
   '4. close': '451.7700',
   '5. volume': '198009750'},
  '2021-12-31': {'1. open': '463.4500',
   '2. high': '481.0900',
   '3. low': '450.7400',
   '4. close': '476.9900',
   '5. volume': '142018898'},
  '2021-11-30': {'1. open': '462.1300',
   '2. high': '475.5000',
   '3. low': '457.1300',
   '4. close': '457.6300',
   '5. volume': '91345480'},
  '2021-10-29': {'1. open': '432.7000',
   '2. high': '461.3900',
   '3. low': '428.0050',
   '4. close': '460.9900',
   '5. volume': '82756752'},
  '2021-09-30': {'1. open': '454.5500',
   '2. high': '456.0800',
   '3. low': '430.6000',
   '4. close': '430.8200',
   '5. volume': '93219169'},
  '2021-08-31': {'1. open': '442.2800',
   '2. high': '455.0900',
   '3. low': '438.0100',
   '4. close': '453.7100',
   '5. volume': '79085486'},
  '2021-07-30': {'1. open': '430.7100',
   '2. high': '443.7161',
   '3. low': '423.8100',
   '4. close': '440.4000',
   '5. volume': '98582631'},
  '2021-06-30': {'1. open': '424.2400',
   '2. high': '430.6186',
   '3. low': '416.4800',
   '4. close': '429.9200',
   '5. volume': '86553485'},
  '2021-05-28': {'1. open': '421.0200',
   '2. high': '424.4300',
   '3. low': '406.3400',
   '4. close': '421.6500',
   '5. volume': '94609260'},
  '2021-04-30': {'1. open': '399.8800',
   '2. high': '422.2800',
   '3. low': '399.6600',
   '4. close': '418.8800',
   '5. volume': '97180254'},
  '2021-03-31': {'1. open': '387.1800',
   '2. high': '399.6500',
   '3. low': '373.2600',
   '4. close': '397.8200',
   '5. volume': '104556905'},
  '2021-02-26': {'1. open': '375.1700',
   '2. high': '395.6500',
   '3. low': '372.7000',
   '4. close': '381.7700',
   '5. volume': '65082702'},
  '2021-01-29': {'1. open': '376.6900',
   '2. high': '387.2000',
   '3. low': '366.1600',
   '4. close': '371.5200',
   '5. volume': '93227993'},
  '2020-12-31': {'1. open': '366.9000',
   '2. high': '376.0400',
   '3. low': '363.3800',
   '4. close': '375.3900',
   '5. volume': '93094341'},
  '2020-11-30': {'1. open': '331.3800',
   '2. high': '365.6900',
   '3. low': '328.3800',
   '4. close': '363.3200',
   '5. volume': '81441796'},
  '2020-10-30': {'1. open': '338.8300',
   '2. high': '355.2500',
   '3. low': '323.7200',
   '4. close': '327.6200',
   '5. volume': '79596800'},
  '2020-09-30': {'1. open': '351.6800',
   '2. high': '360.2600',
   '3. low': '320.9200',
   '4. close': '336.0600',
   '5. volume': '86022831'},
  '2020-08-31': {'1. open': '329.6600',
   '2. high': '352.7700',
   '3. low': '329.0639',
   '4. close': '350.7700',
   '5. volume': '59150438'},
  '2020-07-31': {'1. open': '310.7400',
   '2. high': '330.0600',
   '3. low': '310.2500',
   '4. close': '327.8200',
   '5. volume': '76578094'},
  '2020-06-30': {'1. open': '304.6400',
   '2. high': '324.5500',
   '3. low': '296.4900',
   '4. close': '309.6900',
   '5. volume': '115249434'},
  '2020-05-29': {'1. open': '286.1900',
   '2. high': '307.9100',
   '3. low': '275.0000',
   '4. close': '305.1800',
   '5. volume': '113650186'},
  '2020-04-30': {'1. open': '248.7600',
   '2. high': '295.8400',
   '3. low': '244.6200',
   '4. close': '291.1600',
   '5. volume': '166337553'},
  '2020-03-31': {'1. open': '299.3400',
   '2. high': '315.1500',
   '3. low': '220.2800',
   '4. close': '258.4000',
   '5. volume': '306347948'},
  '2020-02-28': {'1. open': '324.8100',
   '2. high': '340.6300',
   '3. low': '286.7100',
   '4. close': '295.9100',
   '5. volume': '125392399'},
  '2020-01-31': {'1. open': '324.9800',
   '2. high': '334.4400',
   '3. low': '321.7800',
   '4. close': '323.2400',
   '5. volume': '97534455'},
  '2019-12-31': {'1. open': '316.4300',
   '2. high': '325.1900',
   '3. low': '308.8800',
   '4. close': '323.2400',
   '5. volume': '81171435'},
  '2019-11-29': {'1. open': '306.6500',
   '2. high': '317.2800',
   '3. low': '306.4700',
   '4. close': '316.0600',
   '5. volume': '56199449'},
  '2019-10-31': {'1. open': '299.4000',
   '2. high': '306.2200',
   '3. low': '286.4200',
   '4. close': '304.9700',
   '5. volume': '82559836'},
  '2019-09-30': {'1. open': '292.2600',
   '2. high': '304.4000',
   '3. low': '290.9500',
   '4. close': '298.5200',
   '5. volume': '77141633'},
  '2019-08-30': {'1. open': '299.3200',
   '2. high': '302.6000',
   '3. low': '283.3400',
   '4. close': '294.2700',
   '5. volume': '105551284'},
  '2019-07-31': {'1. open': '298.3700',
   '2. high': '303.9800',
   '3. low': '296.0200',
   '4. close': '299.2300',
   '5. volume': '74080601'},
  '2019-06-28': {'1. open': '277.1500',
   '2. high': '297.2000',
   '3. low': '274.9000',
   '4. close': '294.7500',
   '5. volume': '76725326'},
  '2019-05-31': {'1. open': '296.7300',
   '2. high': '296.9300',
   '3. low': '277.1100',
   '4. close': '277.3000',
   '5. volume': '85676618'},
  '2019-04-30': {'1. open': '286.6400',
   '2. high': '296.4600',
   '3. low': '286.3500',
   '4. close': '295.9400',
   '5. volume': '73735700'},
  '2019-03-29': {'1. open': '282.2000',
   '2. high': '287.4000',
   '3. low': '274.1000',
   '4. close': '284.5600',
   '5. volume': '82625035'},
  '2019-02-28': {'1. open': '271.8000',
   '2. high': '283.0600',
   '3. low': '269.4700',
   '4. close': '280.3200',
   '5. volume': '81752698'},
  '2019-01-31': {'1. open': '247.5400',
   '2. high': '272.0300',
   '3. low': '245.0800',
   '4. close': '271.5500',
   '5. volume': '106744723'},
  '2018-12-31': {'1. open': '282.4300',
   '2. high': '282.5800',
   '3. low': '235.4600',
   '4. close': '251.6100',
   '5. volume': '169406503'},
  '2018-11-30': {'1. open': '273.6600',
   '2. high': '283.3300',
   '3. low': '265.0200',
   '4. close': '278.0000',
   '5. volume': '100761416'},
  '2018-10-31': {'1. open': '294.3000',
   '2. high': '295.4000',
   '3. low': '261.8500',
   '4. close': '272.7600',
   '5. volume': '126651590'},
  '2018-09-28': {'1. open': '291.9400',
   '2. high': '296.6900',
   '3. low': '288.7700',
   '4. close': '292.7300',
   '5. volume': '67038738'},
  '2018-08-31': {'1. open': '283.4600',
   '2. high': '293.8300',
   '3. low': '281.1200',
   '4. close': '292.4400',
   '5. volume': '73457513'},
  '2018-07-31': {'1. open': '271.3600',
   '2. high': '286.3800',
   '3. low': '271.1000',
   '4. close': '283.2800',
   '5. volume': '69136152'},
  '2018-06-29': {'1. open': '274.3200',
   '2. high': '281.4400',
   '3. low': '270.3200',
   '4. close': '273.0500',
   '5. volume': '80135866'},
  '2018-05-31': {'1. open': '265.7800',
   '2. high': '276.1700',
   '3. low': '260.8100',
   '4. close': '272.7300',
   '5. volume': '64313331'},
  '2018-04-30': {'1. open': '264.3700',
   '2. high': '273.1400',
   '3. low': '256.4300',
   '4. close': '266.3100',
   '5. volume': '78634879'},
  '2018-03-29': {'1. open': '273.4600',
   '2. high': '282.5000',
   '3. low': '259.6100',
   '4. close': '265.3700',
   '5. volume': '108268835'},
  '2018-02-28': {'1. open': '283.1600',
   '2. high': '285.1600',
   '3. low': '254.7700',
   '4. close': '273.3400',
   '5. volume': '144527239'},
  '2018-01-31': {'1. open': '269.8400',
   '2. high': '288.6900',
   '3. low': '269.3700',
   '4. close': '284.1500',
   '5. volume': '96342133'},
  '2017-12-29': {'1. open': '266.6100',
   '2. high': '271.8400',
   '3. low': '262.5700',
   '4. close': '268.8500',
   '5. volume': '82591523'},
  '2017-11-30': {'1. open': '259.7900',
   '2. high': '267.8700',
   '3. low': '257.3800',
   '4. close': '266.8900',
   '5. volume': '66095624'},
  '2017-10-31': {'1. open': '253.1900',
   '2. high': '259.6400',
   '3. low': '253.1100',
   '4. close': '258.8100',
   '5. volume': '73523270'},
  '2017-09-29': {'1. open': '249.6300',
   '2. high': '253.1600',
   '3. low': '246.6200',
   '4. close': '252.9300',
   '5. volume': '72138389'},
  '2017-08-31': {'1. open': '249.1500',
   '2. high': '250.6000',
   '3. low': '243.4500',
   '4. close': '249.1400',
   '5. volume': '66543545'},
  '2017-07-31': {'1. open': '244.5000',
   '2. high': '249.6850',
   '3. low': '241.9600',
   '4. close': '248.4600',
   '5. volume': '62487557'},
  '2017-06-30': {'1. open': '243.4700',
   '2. high': '247.4900',
   '3. low': '241.5800',
   '4. close': '243.4100',
   '5. volume': '80916362'},
  '2017-05-31': {'1. open': '240.1900',
   '2. high': '243.6100',
   '3. low': '236.9100',
   '4. close': '242.9000',
   '5. volume': '70572938'},
  '2017-04-28': {'1. open': '237.3200',
   '2. high': '241.0500',
   '3. low': '234.0200',
   '4. close': '239.5600',
   '5. volume': '68085884'},
  '2017-03-31': {'1. open': '239.8600',
   '2. high': '241.8100',
   '3. low': '233.1000',
   '4. close': '237.2700',
   '5. volume': '86816470'},
  '2017-02-28': {'1. open': '229.6900',
   '2. high': '238.7800',
   '3. low': '228.2200',
   '4. close': '238.0300',
   '5. volume': '54673182'},
  '2017-01-31': {'1. open': '226.4000',
   '2. high': '231.1000',
   '3. low': '225.2400',
   '4. close': '228.9300',
   '5. volume': '72400613'},
  '2016-12-30': {'1. open': '221.9700',
   '2. high': '229.6900',
   '3. low': '220.4200',
   '4. close': '224.9900',
   '5. volume': '86687788'},
  '2016-11-30': {'1. open': '214.1300',
   '2. high': '223.1000',
   '3. low': '209.5700',
   '4. close': '221.5300',
   '5. volume': '109789387'},
  '2016-10-31': {'1. open': '217.0300',
   '2. high': '217.9300',
   '3. low': '212.4133',
   '4. close': '213.6900',
   '5. volume': '68290930'},
  '2016-09-30': {'1. open': '218.6400',
   '2. high': '220.4800',
   '3. low': '213.5400',
   '4. close': '217.5600',
   '5. volume': '78607763'},
  '2016-08-31': {'1. open': '218.4700',
   '2. high': '220.8800',
   '3. low': '215.8110',
   '4. close': '218.6500',
   '5. volume': '55831449'},
  '2016-07-29': {'1. open': '210.5500',
   '2. high': '218.7900',
   '3. low': '208.2500',
   '4. close': '218.3700',
   '5. volume': '73628038'},
  '2016-06-30': {'1. open': '210.2500',
   '2. high': '213.6400',
   '3. low': '199.7900',
   '4. close': '210.5000',
   '5. volume': '98656370'},
  '2016-05-31': {'1. open': '208.0100',
   '2. high': '211.8000',
   '3. low': '203.8000',
   '4. close': '210.9700',
   '5. volume': '63959366'},
  '2016-04-29': {'1. open': '205.4100',
   '2. high': '212.0000',
   '3. low': '204.1300',
   '4. close': '207.4600',
   '5. volume': '68670344'},
  '2016-03-31': {'1. open': '196.0200',
   '2. high': '207.9100',
   '3. low': '195.4700',
   '4. close': '206.6500',
   '5. volume': '85522814'},
  '2016-02-29': {'1. open': '193.4700',
   '2. high': '197.6800',
   '3. low': '182.0200',
   '4. close': '194.5100',
   '5. volume': '91220903'},
  '2016-01-29': {'1. open': '201.4700',
   '2. high': '202.8800',
   '3. low': '181.9001',
   '4. close': '194.6200',
   '5. volume': '128844934'},
  '2015-12-31': {'1. open': '210.6400',
   '2. high': '212.2000',
   '3. low': '201.1000',
   '4. close': '204.8700',
   '5. volume': '121421255'},
  '2015-11-30': {'1. open': '209.5200',
   '2. high': '212.8700',
   '3. low': '203.3100',
   '4. close': '209.8700',
   '5. volume': '76599716'},
  '2015-10-30': {'1. open': '193.1400',
   '2. high': '210.6100',
   '3. low': '190.1900',
   '4. close': '209.0500',
   '5. volume': '88750236'},
  '2015-09-30': {'1. open': '194.3000',
   '2. high': '204.0500',
   '3. low': '187.9700',
   '4. close': '192.7200',
   '5. volume': '144505742'},
  '2015-08-31': {'1. open': '211.7000',
   '2. high': '212.5800',
   '3. low': '147.2100',
   '4. close': '198.7500',
   '5. volume': '122796660'},
  '2015-07-31': {'1. open': '209.0800',
   '2. high': '214.4600',
   '3. low': '205.3700',
   '4. close': '211.7600',
   '5. volume': '81919531'},
  '2015-06-30': {'1. open': '213.3500',
   '2. high': '215.0700',
   '3. low': '206.5500',
   '4. close': '207.2200',
   '5. volume': '72807917'},
  '2015-05-29': {'1. open': '210.8100',
   '2. high': '215.2300',
   '3. low': '208.1450',
   '4. close': '212.5800',
   '5. volume': '60317168'},
  '2015-04-30': {'1. open': '207.7700',
   '2. high': '213.8800',
   '3. low': '205.8800',
   '4. close': '209.8500',
   '5. volume': '63796767'},
  '2015-03-31': {'1. open': '212.2700',
   '2. high': '213.5600',
   '3. low': '205.5000',
   '4. close': '207.8300',
   '5. volume': '86461357'},
  '2015-02-27': {'1. open': '201.4800',
   '2. high': '213.7400',
   '3. low': '199.2700',
   '4. close': '212.2100',
   '5. volume': '75697050'},
  '2015-01-30': {'1. open': '207.8400',
   '2. high': '208.3200',
   '3. low': '199.9453',
   '4. close': '200.8700',
   '5. volume': '118706062'},
  '2014-12-31': {'1. open': '207.8100',
   '2. high': '210.8100',
   '3. low': '199.1600',
   '4. close': '206.8700',
   '5. volume': '103425163'},
  '2014-11-28': {'1. open': '203.2200',
   '2. high': '209.2699',
   '3. low': '201.3900',
   '4. close': '208.5800',
   '5. volume': '76427629'},
  '2014-10-31': {'1. open': '198.0400',
   '2. high': '203.1800',
   '3. low': '183.1300',
   '4. close': '202.9900',
   '5. volume': '146922907'},
  '2014-09-30': {'1. open': '202.3200',
   '2. high': '204.0000',
   '3. low': '197.3600',
   '4. close': '198.2600',
   '5. volume': '74333914'},
  '2014-08-29': {'1. open': '193.8200',
   '2. high': '202.1300',
   '3. low': '191.7800',
   '4. close': '201.9600',
   '5. volume': '69403600'},
  '2014-07-31': {'1. open': '197.4800',
   '2. high': '200.3500',
   '3. low': '194.2500',
   '4. close': '194.2500',
   '5. volume': '82463100'},
  '2014-06-30': {'1. open': '194.1600',
   '2. high': '198.2500',
   '3. low': '193.1600',
   '4. close': '197.0000',
   '5. volume': '54947400'},
  '2014-05-30': {'1. open': '189.3800',
   '2. high': '194.0000',
   '3. low': '187.1500',
   '4. close': '193.8700',
   '5. volume': '64359800'},
  '2014-04-30': {'1. open': '188.7400',
   '2. high': '190.8500',
   '3. low': '182.4100',
   '4. close': '189.5400',
   '5. volume': '66955300'},
  '2014-03-31': {'1. open': '185.7900',
   '2. high': '190.1300',
   '3. low': '184.8500',
   '4. close': '188.1400',
   '5. volume': '110108600'},
  '2014-02-28': {'1. open': '178.9700',
   '2. high': '188.2800',
   '3. low': '174.7200',
   '4. close': '187.3400',
   '5. volume': '114045200'},
  '2014-01-31': {'1. open': '185.0400',
   '2. high': '186.0200',
   '3. low': '177.9050',
   '4. close': '179.1700',
   '5. volume': '111284000'},
  '2013-12-31': {'1. open': '182.1100',
   '2. high': '185.7400',
   '3. low': '178.2200',
   '4. close': '185.6500',
   '5. volume': '88794000'},
  '2013-11-29': {'1. open': '177.0200',
   '2. high': '182.7700',
   '3. low': '175.7400',
   '4. close': '181.9600',
   '5. volume': '76958200'},
  '2013-10-31': {'1. open': '169.0500',
   '2. high': '178.4900',
   '3. low': '165.4400',
   '4. close': '176.6900',
   '5. volume': '107257600'},
  '2013-09-30': {'1. open': '166.0800',
   '2. high': '174.5500',
   '3. low': '164.5600',
   '4. close': '168.9000',
   '5. volume': '85038600'},
  '2013-08-30': {'1. open': '170.8800',
   '2. high': '171.8800',
   '3. low': '163.9000',
   '4. close': '164.4000',
   '5. volume': '79235200'},
  '2013-07-31': {'1. open': '162.1200',
   '2. high': '170.7600',
   '3. low': '161.0700',
   '4. close': '169.5500',
   '5. volume': '114876500'},
  '2013-06-28': {'1. open': '164.6600',
   '2. high': '166.9100',
   '3. low': '157.3500',
   '4. close': '160.8800',
   '5. volume': '110214200'},
  '2013-05-31': {'1. open': '160.1300',
   '2. high': '169.9300',
   '3. low': '158.8900',
   '4. close': '164.3000',
   '5. volume': '101290400'},
  '2013-04-30': {'1. open': '157.3800',
   '2. high': '160.5100',
   '3. low': '154.3100',
   '4. close': '160.4500',
   '5. volume': '78834900'},
  '2013-03-28': {'1. open': '151.8400',
   '2. high': '157.6200',
   '3. low': '151.1700',
   '4. close': '157.3600',
   '5. volume': '87267500'},
  '2013-02-28': {'1. open': '151.3600',
   '2. high': '154.0700',
   '3. low': '149.4900',
   '4. close': '152.5000',
   '5. volume': '70682400'},
  '2013-01-31': {'1. open': '145.8500',
   '2. high': '151.6998',
   '3. low': '145.4600',
   '4. close': '150.4600',
   '5. volume': '71782600'},
  '2012-12-31': {'1. open': '143.4100',
   '2. high': '146.1400',
   '3. low': '140.2400',
   '4. close': '143.1400',
   '5. volume': '101822600'},
  '2012-11-30': {'1. open': '142.2300',
   '2. high': '144.2800',
   '3. low': '135.2499',
   '4. close': '142.7100',
   '5. volume': '75637000'},
  '2012-10-31': {'1. open': '145.1400',
   '2. high': '147.7600',
   '3. low': '140.9700',
   '4. close': '141.4800',
   '5. volume': '68595000'},
  '2012-09-28': {'1. open': '141.6300',
   '2. high': '148.7400',
   '3. low': '140.7100',
   '4. close': '144.4000',
   '5. volume': '71192500'},
  '2012-08-31': {'1. open': '139.2700',
   '2. high': '143.6700',
   '3. low': '136.1500',
   '4. close': '141.8800',
   '5. volume': '69361200'},
  '2012-07-31': {'1. open': '137.0100',
   '2. high': '139.8800',
   '3. low': '133.1300',
   '4. close': '138.4500',
   '5. volume': '87436000'},
  '2012-06-29': {'1. open': '129.8800',
   '2. high': '136.7800',
   '3. low': '127.5700',
   '4. close': '136.7500',
   '5. volume': '81384100'},
  '2012-05-31': {'1. open': '140.2600',
   '2. high': '142.1700',
   '3. low': '130.0000',
   '4. close': '131.8500',
   '5. volume': '78711800'},
  '2012-04-30': {'1. open': '141.1200',
   '2. high': '142.7100',
   '3. low': '136.2500',
   '4. close': '140.2800',
   '5. volume': '63839800'},
  '2012-03-30': {'1. open': '137.7700',
   '2. high': '142.4100',
   '3. low': '134.8350',
   '4. close': '141.2100',
   '5. volume': '71216800'},
  '2012-02-29': {'1. open': '132.7700',
   '2. high': '138.6700',
   '3. low': '132.6000',
   '4. close': '137.3200',
   '5. volume': '77331300'},
  '2012-01-31': {'1. open': '128.2300',
   '2. high': '133.8500',
   '3. low': '126.8800',
   '4. close': '131.7700',
   '5. volume': '73889600'},
  '2011-12-30': {'1. open': '125.2800',
   '2. high': '128.0500',
   '3. low': '121.2000',
   '4. close': '125.9600',
   '5. volume': '77663500'},
  '2011-11-30': {'1. open': '122.4200',
   '2. high': '128.4400',
   '3. low': '116.6400',
   '4. close': '125.4000',
   '5. volume': '92058000'},
  '2011-10-31': {'1. open': '112.8700',
   '2. high': '129.8500',
   '3. low': '107.8000',
   '4. close': '125.8000',
   '5. volume': '86188000'},
  '2011-09-30': {'1. open': '122.7000',
   '2. high': '123.8200',
   '3. low': '112.3000',
   '4. close': '113.6900',
   '5. volume': '87717700'},
  '2011-08-31': {'1. open': '131.3100',
   '2. high': '131.4600',
   '3. low': '110.6600',
   '4. close': '122.6400',
   '5. volume': '170780400'},
  '2011-07-29': {'1. open': '132.4400',

In [142]:
dataIVV['Monthly Time Series']

{'2022-09-13': {'1. open': '394.9000',
  '2. high': '413.9400',
  '3. low': '390.4500',
  '4. close': '395.1400',
  '5. volume': '35089674'},
 '2022-08-31': {'1. open': '411.3400',
  '2. high': '434.0299',
  '3. low': '397.0900',
  '4. close': '397.1800',
  '5. volume': '93399466'},
 '2022-07-29': {'1. open': '378.5200',
  '2. high': '415.2000',
  '3. low': '372.9700',
  '4. close': '414.2800',
  '5. volume': '95301237'},
 '2022-06-30': {'1. open': '416.9900',
  '2. high': '419.2900',
  '3. low': '364.0300',
  '4. close': '379.1500',
  '5. volume': '146298953'},
 '2022-05-31': {'1. open': '413.6200',
  '2. high': '431.5000',
  '3. low': '382.1700',
  '4. close': '414.8700',
  '5. volume': '148309359'},
 '2022-04-29': {'1. open': '455.2600',
  '2. high': '459.7900',
  '3. low': '412.9800',
  '4. close': '413.5600',
  '5. volume': '120564640'},
 '2022-03-31': {'1. open': '437.0000',
  '2. high': '464.0500',
  '3. low': '416.9100',
  '4. close': '453.6900',
  '5. volume': '177475497'},
 '2022-02-28': {'1. open': '452.6900',
  '2. high': '460.1400',
  '3. low': '412.4000',
  '4. close': '438.7200',
  '5. volume': '164962179'},
 '2022-01-31': {'1. open': '478.3800',
  '2. high': '482.0700',
  '3. low': '422.5600',
  '4. close': '451.7700',
  '5. volume': '198009750'},
 '2021-12-31': {'1. open': '463.4500',
  '2. high': '481.0900',
  '3. low': '450.7400',
  '4. close': '476.9900',
  '5. volume': '142018898'},
 '2021-11-30': {'1. open': '462.1300',
  '2. high': '475.5000',
  '3. low': '457.1300',
  '4. close': '457.6300',
  '5. volume': '91345480'},
 '2021-10-29': {'1. open': '432.7000',
  '2. high': '461.3900',
  '3. low': '428.0050',
  '4. close': '460.9900',
  '5. volume': '82756752'},
 '2021-09-30': {'1. open': '454.5500',
  '2. high': '456.0800',
  '3. low': '430.6000',
  '4. close': '430.8200',
  '5. volume': '93219169'},
 '2021-08-31': {'1. open': '442.2800',
  '2. high': '455.0900',
  '3. low': '438.0100',
  '4. close': '453.7100',
  '5. volume': '79085486'},
 '2021-07-30': {'1. open': '430.7100',
  '2. high': '443.7161',
  '3. low': '423.8100',
  '4. close': '440.4000',
  '5. volume': '98582631'},
 '2021-06-30': {'1. open': '424.2400',
  '2. high': '430.6186',
  '3. low': '416.4800',
  '4. close': '429.9200',
  '5. volume': '86553485'},
 '2021-05-28': {'1. open': '421.0200',
  '2. high': '424.4300',
  '3. low': '406.3400',
  '4. close': '421.6500',
  '5. volume': '94609260'},
 '2021-04-30': {'1. open': '399.8800',
  '2. high': '422.2800',
  '3. low': '399.6600',
  '4. close': '418.8800',
  '5. volume': '97180254'},
 '2021-03-31': {'1. open': '387.1800',
  '2. high': '399.6500',
  '3. low': '373.2600',
  '4. close': '397.8200',
  '5. volume': '104556905'},
 '2021-02-26': {'1. open': '375.1700',
  '2. high': '395.6500',
  '3. low': '372.7000',
  '4. close': '381.7700',
  '5. volume': '65082702'},
 '2021-01-29': {'1. open': '376.6900',
  '2. high': '387.2000',
  '3. low': '366.1600',
  '4. close': '371.5200',
  '5. volume': '93227993'},
 '2020-12-31': {'1. open': '366.9000',
  '2. high': '376.0400',
  '3. low': '363.3800',
  '4. close': '375.3900',
  '5. volume': '93094341'},
 '2020-11-30': {'1. open': '331.3800',
  '2. high': '365.6900',
  '3. low': '328.3800',
  '4. close': '363.3200',
  '5. volume': '81441796'},
 '2020-10-30': {'1. open': '338.8300',
  '2. high': '355.2500',
  '3. low': '323.7200',
  '4. close': '327.6200',
  '5. volume': '79596800'},
 '2020-09-30': {'1. open': '351.6800',
  '2. high': '360.2600',
  '3. low': '320.9200',
  '4. close': '336.0600',
  '5. volume': '86022831'},
 '2020-08-31': {'1. open': '329.6600',
  '2. high': '352.7700',
  '3. low': '329.0639',
  '4. close': '350.7700',
  '5. volume': '59150438'},
 '2020-07-31': {'1. open': '310.7400',
  '2. high': '330.0600',
  '3. low': '310.2500',
  '4. close': '327.8200',
  '5. volume': '76578094'},
 '2020-06-30': {'1. open': '304.6400',
  '2. high': '324.5500',
  '3. low': '296.4900',
  '4. close': '309.6900',
  '5. volume': '115249434'},
 '2020-05-29': {'1. open': '286.1900',
  '2. high': '307.9100',
  '3. low': '275.0000',
  '4. close': '305.1800',
  '5. volume': '113650186'},
 '2020-04-30': {'1. open': '248.7600',
  '2. high': '295.8400',
  '3. low': '244.6200',
  '4. close': '291.1600',
  '5. volume': '166337553'},
 '2020-03-31': {'1. open': '299.3400',
  '2. high': '315.1500',
  '3. low': '220.2800',
  '4. close': '258.4000',
  '5. volume': '306347948'},
 '2020-02-28': {'1. open': '324.8100',
  '2. high': '340.6300',
  '3. low': '286.7100',
  '4. close': '295.9100',
  '5. volume': '125392399'},
 '2020-01-31': {'1. open': '324.9800',
  '2. high': '334.4400',
  '3. low': '321.7800',
  '4. close': '323.2400',
  '5. volume': '97534455'},
 '2019-12-31': {'1. open': '316.4300',
  '2. high': '325.1900',
  '3. low': '308.8800',
  '4. close': '323.2400',
  '5. volume': '81171435'},
 '2019-11-29': {'1. open': '306.6500',
  '2. high': '317.2800',
  '3. low': '306.4700',
  '4. close': '316.0600',
  '5. volume': '56199449'},
 '2019-10-31': {'1. open': '299.4000',
  '2. high': '306.2200',
  '3. low': '286.4200',
  '4. close': '304.9700',
  '5. volume': '82559836'},
 '2019-09-30': {'1. open': '292.2600',
  '2. high': '304.4000',
  '3. low': '290.9500',
  '4. close': '298.5200',
  '5. volume': '77141633'},
 '2019-08-30': {'1. open': '299.3200',
  '2. high': '302.6000',
  '3. low': '283.3400',
  '4. close': '294.2700',
  '5. volume': '105551284'},
 '2019-07-31': {'1. open': '298.3700',
  '2. high': '303.9800',
  '3. low': '296.0200',
  '4. close': '299.2300',
  '5. volume': '74080601'},
 '2019-06-28': {'1. open': '277.1500',
  '2. high': '297.2000',
  '3. low': '274.9000',
  '4. close': '294.7500',
  '5. volume': '76725326'},
 '2019-05-31': {'1. open': '296.7300',
  '2. high': '296.9300',
  '3. low': '277.1100',
  '4. close': '277.3000',
  '5. volume': '85676618'},
 '2019-04-30': {'1. open': '286.6400',
  '2. high': '296.4600',
  '3. low': '286.3500',
  '4. close': '295.9400',
  '5. volume': '73735700'},
 '2019-03-29': {'1. open': '282.2000',
  '2. high': '287.4000',
  '3. low': '274.1000',
  '4. close': '284.5600',
  '5. volume': '82625035'},
 '2019-02-28': {'1. open': '271.8000',
  '2. high': '283.0600',
  '3. low': '269.4700',
  '4. close': '280.3200',
  '5. volume': '81752698'},
 '2019-01-31': {'1. open': '247.5400',
  '2. high': '272.0300',
  '3. low': '245.0800',
  '4. close': '271.5500',
  '5. volume': '106744723'},
 '2018-12-31': {'1. open': '282.4300',
  '2. high': '282.5800',
  '3. low': '235.4600',
  '4. close': '251.6100',
  '5. volume': '169406503'},
 '2018-11-30': {'1. open': '273.6600',
  '2. high': '283.3300',
  '3. low': '265.0200',
  '4. close': '278.0000',
  '5. volume': '100761416'},
 '2018-10-31': {'1. open': '294.3000',
  '2. high': '295.4000',
  '3. low': '261.8500',
  '4. close': '272.7600',
  '5. volume': '126651590'},
 '2018-09-28': {'1. open': '291.9400',
  '2. high': '296.6900',
  '3. low': '288.7700',
  '4. close': '292.7300',
  '5. volume': '67038738'},
 '2018-08-31': {'1. open': '283.4600',
  '2. high': '293.8300',
  '3. low': '281.1200',
  '4. close': '292.4400',
  '5. volume': '73457513'},
 '2018-07-31': {'1. open': '271.3600',
  '2. high': '286.3800',
  '3. low': '271.1000',
  '4. close': '283.2800',
  '5. volume': '69136152'},
 '2018-06-29': {'1. open': '274.3200',
  '2. high': '281.4400',
  '3. low': '270.3200',
  '4. close': '273.0500',
  '5. volume': '80135866'},
 '2018-05-31': {'1. open': '265.7800',
  '2. high': '276.1700',
  '3. low': '260.8100',
  '4. close': '272.7300',
  '5. volume': '64313331'},
 '2018-04-30': {'1. open': '264.3700',
  '2. high': '273.1400',
  '3. low': '256.4300',
  '4. close': '266.3100',
  '5. volume': '78634879'},
 '2018-03-29': {'1. open': '273.4600',
  '2. high': '282.5000',
  '3. low': '259.6100',
  '4. close': '265.3700',
  '5. volume': '108268835'},
 '2018-02-28': {'1. open': '283.1600',
  '2. high': '285.1600',
  '3. low': '254.7700',
  '4. close': '273.3400',
  '5. volume': '144527239'},
 '2018-01-31': {'1. open': '269.8400',
  '2. high': '288.6900',
  '3. low': '269.3700',
  '4. close': '284.1500',
  '5. volume': '96342133'},
 '2017-12-29': {'1. open': '266.6100',
  '2. high': '271.8400',
  '3. low': '262.5700',
  '4. close': '268.8500',
  '5. volume': '82591523'},
 '2017-11-30': {'1. open': '259.7900',
  '2. high': '267.8700',
  '3. low': '257.3800',
  '4. close': '266.8900',
  '5. volume': '66095624'},
 '2017-10-31': {'1. open': '253.1900',
  '2. high': '259.6400',
  '3. low': '253.1100',
  '4. close': '258.8100',
  '5. volume': '73523270'},
 '2017-09-29': {'1. open': '249.6300',
  '2. high': '253.1600',
  '3. low': '246.6200',
  '4. close': '252.9300',
  '5. volume': '72138389'},
 '2017-08-31': {'1. open': '249.1500',
  '2. high': '250.6000',
  '3. low': '243.4500',
  '4. close': '249.1400',
  '5. volume': '66543545'},
 '2017-07-31': {'1. open': '244.5000',
  '2. high': '249.6850',
  '3. low': '241.9600',
  '4. close': '248.4600',
  '5. volume': '62487557'},
 '2017-06-30': {'1. open': '243.4700',
  '2. high': '247.4900',
  '3. low': '241.5800',
  '4. close': '243.4100',
  '5. volume': '80916362'},
 '2017-05-31': {'1. open': '240.1900',
  '2. high': '243.6100',
  '3. low': '236.9100',
  '4. close': '242.9000',
  '5. volume': '70572938'},
 '2017-04-28': {'1. open': '237.3200',
  '2. high': '241.0500',
  '3. low': '234.0200',
  '4. close': '239.5600',
  '5. volume': '68085884'},
 '2017-03-31': {'1. open': '239.8600',
  '2. high': '241.8100',
  '3. low': '233.1000',
  '4. close': '237.2700',
  '5. volume': '86816470'},
 '2017-02-28': {'1. open': '229.6900',
  '2. high': '238.7800',
  '3. low': '228.2200',
  '4. close': '238.0300',
  '5. volume': '54673182'},
 '2017-01-31': {'1. open': '226.4000',
  '2. high': '231.1000',
  '3. low': '225.2400',
  '4. close': '228.9300',
  '5. volume': '72400613'},
 '2016-12-30': {'1. open': '221.9700',
  '2. high': '229.6900',
  '3. low': '220.4200',
  '4. close': '224.9900',
  '5. volume': '86687788'},
 '2016-11-30': {'1. open': '214.1300',
  '2. high': '223.1000',
  '3. low': '209.5700',
  '4. close': '221.5300',
  '5. volume': '109789387'},
 '2016-10-31': {'1. open': '217.0300',
  '2. high': '217.9300',
  '3. low': '212.4133',
  '4. close': '213.6900',
  '5. volume': '68290930'},
 '2016-09-30': {'1. open': '218.6400',
  '2. high': '220.4800',
  '3. low': '213.5400',
  '4. close': '217.5600',
  '5. volume': '78607763'},
 '2016-08-31': {'1. open': '218.4700',
  '2. high': '220.8800',
  '3. low': '215.8110',
  '4. close': '218.6500',
  '5. volume': '55831449'},
 '2016-07-29': {'1. open': '210.5500',
  '2. high': '218.7900',
  '3. low': '208.2500',
  '4. close': '218.3700',
  '5. volume': '73628038'},
 '2016-06-30': {'1. open': '210.2500',
  '2. high': '213.6400',
  '3. low': '199.7900',
  '4. close': '210.5000',
  '5. volume': '98656370'},
 '2016-05-31': {'1. open': '208.0100',
  '2. high': '211.8000',
  '3. low': '203.8000',
  '4. close': '210.9700',
  '5. volume': '63959366'},
 '2016-04-29': {'1. open': '205.4100',
  '2. high': '212.0000',
  '3. low': '204.1300',
  '4. close': '207.4600',
  '5. volume': '68670344'},
 '2016-03-31': {'1. open': '196.0200',
  '2. high': '207.9100',
  '3. low': '195.4700',
  '4. close': '206.6500',
  '5. volume': '85522814'},
 '2016-02-29': {'1. open': '193.4700',
  '2. high': '197.6800',
  '3. low': '182.0200',
  '4. close': '194.5100',
  '5. volume': '91220903'},
 '2016-01-29': {'1. open': '201.4700',
  '2. high': '202.8800',
  '3. low': '181.9001',
  '4. close': '194.6200',
  '5. volume': '128844934'},
 '2015-12-31': {'1. open': '210.6400',
  '2. high': '212.2000',
  '3. low': '201.1000',
  '4. close': '204.8700',
  '5. volume': '121421255'},
 '2015-11-30': {'1. open': '209.5200',
  '2. high': '212.8700',
  '3. low': '203.3100',
  '4. close': '209.8700',
  '5. volume': '76599716'},
 '2015-10-30': {'1. open': '193.1400',
  '2. high': '210.6100',
  '3. low': '190.1900',
  '4. close': '209.0500',
  '5. volume': '88750236'},
 '2015-09-30': {'1. open': '194.3000',
  '2. high': '204.0500',
  '3. low': '187.9700',
  '4. close': '192.7200',
  '5. volume': '144505742'},
 '2015-08-31': {'1. open': '211.7000',
  '2. high': '212.5800',
  '3. low': '147.2100',
  '4. close': '198.7500',
  '5. volume': '122796660'},
 '2015-07-31': {'1. open': '209.0800',
  '2. high': '214.4600',
  '3. low': '205.3700',
  '4. close': '211.7600',
  '5. volume': '81919531'},
 '2015-06-30': {'1. open': '213.3500',
  '2. high': '215.0700',
  '3. low': '206.5500',
  '4. close': '207.2200',
  '5. volume': '72807917'},
 '2015-05-29': {'1. open': '210.8100',
  '2. high': '215.2300',
  '3. low': '208.1450',
  '4. close': '212.5800',
  '5. volume': '60317168'},
 '2015-04-30': {'1. open': '207.7700',
  '2. high': '213.8800',
  '3. low': '205.8800',
  '4. close': '209.8500',
  '5. volume': '63796767'},
 '2015-03-31': {'1. open': '212.2700',
  '2. high': '213.5600',
  '3. low': '205.5000',
  '4. close': '207.8300',
  '5. volume': '86461357'},
 '2015-02-27': {'1. open': '201.4800',
  '2. high': '213.7400',
  '3. low': '199.2700',
  '4. close': '212.2100',
  '5. volume': '75697050'},
 '2015-01-30': {'1. open': '207.8400',
  '2. high': '208.3200',
  '3. low': '199.9453',
  '4. close': '200.8700',
  '5. volume': '118706062'},
 '2014-12-31': {'1. open': '207.8100',
  '2. high': '210.8100',
  '3. low': '199.1600',
  '4. close': '206.8700',
  '5. volume': '103425163'},
 '2014-11-28': {'1. open': '203.2200',
  '2. high': '209.2699',
  '3. low': '201.3900',
  '4. close': '208.5800',
  '5. volume': '76427629'},
 '2014-10-31': {'1. open': '198.0400',
  '2. high': '203.1800',
  '3. low': '183.1300',
  '4. close': '202.9900',
  '5. volume': '146922907'},
 '2014-09-30': {'1. open': '202.3200',
  '2. high': '204.0000',
  '3. low': '197.3600',
  '4. close': '198.2600',
  '5. volume': '74333914'},
 '2014-08-29': {'1. open': '193.8200',
  '2. high': '202.1300',
  '3. low': '191.7800',
  '4. close': '201.9600',
  '5. volume': '69403600'},
 '2014-07-31': {'1. open': '197.4800',
  '2. high': '200.3500',
  '3. low': '194.2500',
  '4. close': '194.2500',
  '5. volume': '82463100'},
 '2014-06-30': {'1. open': '194.1600',
  '2. high': '198.2500',
  '3. low': '193.1600',
  '4. close': '197.0000',
  '5. volume': '54947400'},
 '2014-05-30': {'1. open': '189.3800',
  '2. high': '194.0000',
  '3. low': '187.1500',
  '4. close': '193.8700',
  '5. volume': '64359800'},
 '2014-04-30': {'1. open': '188.7400',
  '2. high': '190.8500',
  '3. low': '182.4100',
  '4. close': '189.5400',
  '5. volume': '66955300'},
 '2014-03-31': {'1. open': '185.7900',
  '2. high': '190.1300',
  '3. low': '184.8500',
  '4. close': '188.1400',
  '5. volume': '110108600'},
 '2014-02-28': {'1. open': '178.9700',
  '2. high': '188.2800',
  '3. low': '174.7200',
  '4. close': '187.3400',
  '5. volume': '114045200'},
 '2014-01-31': {'1. open': '185.0400',
  '2. high': '186.0200',
  '3. low': '177.9050',
  '4. close': '179.1700',
  '5. volume': '111284000'},
 '2013-12-31': {'1. open': '182.1100',
  '2. high': '185.7400',
  '3. low': '178.2200',
  '4. close': '185.6500',
  '5. volume': '88794000'},
 '2013-11-29': {'1. open': '177.0200',
  '2. high': '182.7700',
  '3. low': '175.7400',
  '4. close': '181.9600',
  '5. volume': '76958200'},
 '2013-10-31': {'1. open': '169.0500',
  '2. high': '178.4900',
  '3. low': '165.4400',
  '4. close': '176.6900',
  '5. volume': '107257600'},
 '2013-09-30': {'1. open': '166.0800',
  '2. high': '174.5500',
  '3. low': '164.5600',
  '4. close': '168.9000',
  '5. volume': '85038600'},
 '2013-08-30': {'1. open': '170.8800',
  '2. high': '171.8800',
  '3. low': '163.9000',
  '4. close': '164.4000',
  '5. volume': '79235200'},
 '2013-07-31': {'1. open': '162.1200',
  '2. high': '170.7600',
  '3. low': '161.0700',
  '4. close': '169.5500',
  '5. volume': '114876500'},
 '2013-06-28': {'1. open': '164.6600',
  '2. high': '166.9100',
  '3. low': '157.3500',
  '4. close': '160.8800',
  '5. volume': '110214200'},
 '2013-05-31': {'1. open': '160.1300',
  '2. high': '169.9300',
  '3. low': '158.8900',
  '4. close': '164.3000',
  '5. volume': '101290400'},
 '2013-04-30': {'1. open': '157.3800',
  '2. high': '160.5100',
  '3. low': '154.3100',
  '4. close': '160.4500',
  '5. volume': '78834900'},
 '2013-03-28': {'1. open': '151.8400',
  '2. high': '157.6200',
  '3. low': '151.1700',
  '4. close': '157.3600',
  '5. volume': '87267500'},
 '2013-02-28': {'1. open': '151.3600',
  '2. high': '154.0700',
  '3. low': '149.4900',
  '4. close': '152.5000',
  '5. volume': '70682400'},
 '2013-01-31': {'1. open': '145.8500',
  '2. high': '151.6998',
  '3. low': '145.4600',
  '4. close': '150.4600',
  '5. volume': '71782600'},
 '2012-12-31': {'1. open': '143.4100',
  '2. high': '146.1400',
  '3. low': '140.2400',
  '4. close': '143.1400',
  '5. volume': '101822600'},
 '2012-11-30': {'1. open': '142.2300',
  '2. high': '144.2800',
  '3. low': '135.2499',
  '4. close': '142.7100',
  '5. volume': '75637000'},
 '2012-10-31': {'1. open': '145.1400',
  '2. high': '147.7600',
  '3. low': '140.9700',
  '4. close': '141.4800',
  '5. volume': '68595000'},
 '2012-09-28': {'1. open': '141.6300',
  '2. high': '148.7400',
  '3. low': '140.7100',
  '4. close': '144.4000',
  '5. volume': '71192500'},
 '2012-08-31': {'1. open': '139.2700',
  '2. high': '143.6700',
  '3. low': '136.1500',
  '4. close': '141.8800',
  '5. volume': '69361200'},
 '2012-07-31': {'1. open': '137.0100',
  '2. high': '139.8800',
  '3. low': '133.1300',
  '4. close': '138.4500',
  '5. volume': '87436000'},
 '2012-06-29': {'1. open': '129.8800',
  '2. high': '136.7800',
  '3. low': '127.5700',
  '4. close': '136.7500',
  '5. volume': '81384100'},
 '2012-05-31': {'1. open': '140.2600',
  '2. high': '142.1700',
  '3. low': '130.0000',
  '4. close': '131.8500',
  '5. volume': '78711800'},
 '2012-04-30': {'1. open': '141.1200',
  '2. high': '142.7100',
  '3. low': '136.2500',
  '4. close': '140.2800',
  '5. volume': '63839800'},
 '2012-03-30': {'1. open': '137.7700',
  '2. high': '142.4100',
  '3. low': '134.8350',
  '4. close': '141.2100',
  '5. volume': '71216800'},
 '2012-02-29': {'1. open': '132.7700',
  '2. high': '138.6700',
  '3. low': '132.6000',
  '4. close': '137.3200',
  '5. volume': '77331300'},
 '2012-01-31': {'1. open': '128.2300',
  '2. high': '133.8500',
  '3. low': '126.8800',
  '4. close': '131.7700',
  '5. volume': '73889600'},
 '2011-12-30': {'1. open': '125.2800',
  '2. high': '128.0500',
  '3. low': '121.2000',
  '4. close': '125.9600',
  '5. volume': '77663500'},
 '2011-11-30': {'1. open': '122.4200',
  '2. high': '128.4400',
  '3. low': '116.6400',
  '4. close': '125.4000',
  '5. volume': '92058000'},
 '2011-10-31': {'1. open': '112.8700',
  '2. high': '129.8500',
  '3. low': '107.8000',
  '4. close': '125.8000',
  '5. volume': '86188000'},
 '2011-09-30': {'1. open': '122.7000',
  '2. high': '123.8200',
  '3. low': '112.3000',
  '4. close': '113.6900',
  '5. volume': '87717700'},
 '2011-08-31': {'1. open': '131.3100',
  '2. high': '131.4600',
  '3. low': '110.6600',
  '4. close': '122.6400',
  '5. volume': '170780400'},
 '2011-07-29': {'1. open': '132.4400',
  '2. high': '136.1700',
  '3. low': '128.8300',
  '4. close': '129.8100',
  '5. volume': '62060800'},
 '2011-06-30': {'1. open': '135.0000',
  '2. high': '135.0500',
  '3. low': '126.6400',
  '4. close': '132.4200',
  '5. volume': '68927200'},
 '2011-05-31': {'1. open': '137.6200',
  '2. high': '137.6400',
  '3. low': '131.8400',
  '4. close': '135.3100',
  '5. volume': '62969300'},
 '2011-04-29': {'1. open': '133.9100',
  '2. high': '137.0300',
  '3. low': '129.9500',
  '4. close': '136.9400',
  '5. volume': '63041100'},
 '2011-03-31': {'1. open': '134.1500',
  '2. high': '134.2100',
  '3. low': '125.7500',
  '4. close': '133.0100',
  '5. volume': '66319700'},
 '2011-02-28': {'1. open': '129.9400',
  '2. high': '135.1800',
  '3. low': '129.8900',
  '4. close': '133.6200',
  '5. volume': '53204700'},
 '2011-01-31': {'1. open': '127.1900',
  '2. high': '130.8300',

In [143]:
mts_sp500etf = dataIVV['Meta Data']['2. Symbol']

In [144]:
mts_sp500etf

'IVV'

In [145]:
stock_nameIVV=[]
date_stampIVV=[]
close_priceIVV=[]

for x,y in dataIVV['Monthly Time Series'].items():
    stock_nameIVV.append(mts_sp500etf)
    date_stampIVV.append(datetime.strptime(x, '%Y-%m-%d'))
    close_priceIVV.append(float(y['4. close']))

In [146]:
dataIVV_pd = {"date_stamp": date_stampIVV,"ticker": stock_nameIVV, "close_price": close_priceIVV}

In [147]:
df_mtsIVV=pd.DataFrame(dataIVV_pd)

In [148]:
df_mtsIVV

    date_stamp ticker  close_price
0   2022-09-13    IVV       395.14
1   2022-08-31    IVV       397.18
2   2022-07-29    IVV       414.28
3   2022-06-30    IVV       379.15
4   2022-05-31    IVV       414.87
..         ...    ...          ...
263 2000-10-31    IVV       143.10
264 2000-09-29    IVV       143.70
265 2000-08-31    IVV       152.30
266 2000-07-31    IVV       142.90
267 2000-06-30    IVV       145.50

[268 rows x 3 columns]

In [149]:
# check dataframes have same columns

df_mtsV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date_stamp   174 non-null    datetime64[ns]
 1   ticker       174 non-null    object
 2   close_price  174 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 4.2+ KB

In [150]:
df_mtsIVV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date_stamp   268 non-null    datetime64[ns]
 1   ticker       268 non-null    object
 2   close_price  268 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 6.4+ KB

In [151]:
#merge data frame based on date so prices of each stock (including ticker symbol) is combined on same row based on date

pd.merge(df_mtsV,df_mtsIVV, on="date_stamp", how = "inner")

    date_stamp ticker_x  close_price_x ticker_y  close_price_y
0   2022-09-13        V         199.67      IVV         395.14
1   2022-08-31        V         198.71      IVV         397.18
2   2022-07-29        V         212.11      IVV         414.28
3   2022-06-30        V         196.89      IVV         379.15
4   2022-05-31        V         212.17      IVV         414.87
..         ...      ...            ...      ...            ...
169 2008-08-29        V          75.90      IVV         128.94
170 2008-07-31        V          73.06      IVV         127.05
171 2008-06-30        V          81.31      IVV         128.00
172 2008-05-30        V          86.36      IVV         140.39
173 2008-04-30        V          83.45      IVV         138.61

[174 rows x 5 columns]